<div class="catalogContainer"  *ngIf="!getResize().largeUp">
    <div class="header">
        <div class="text">
            <div class="headerSubText">Let’s Start Shopping!</div>
        </div>
    </div>
    <div class="subHeader">
        <div class="leftHeader">Most Popular</div>
        <div class="subOption" (click)="goToCatalogList('Most Popular')">See All</div>
    </div>
    <most-popular-item-belt></most-popular-item-belt>
    <div class="subHeader" *ngIf="getFavorites()">
        <div class="leftHeader">My Favorites</div>
        <div class="subOption" (click)="goToCatalogList('My Favorite')">See All</div>
    </div>
    <favorite-item-belt *ngIf="getFavorites()"></favorite-item-belt>
    <div class="subHeader">
        <div class="leftHeader">All Categories</div>
        <div class="subOption" (click)="goToCatalogList('All Categories')">See All</div>
    </div>
    <all-category-item-belt></all-category-item-belt>
    <div class="subHeader">
        <div class="leftHeader">Lifestyle</div>
        <div class="subOption" (click)="goToCatalogList('Lifestyle')">See All</div>
    </div>
    <lifestyle-item-belt></lifestyle-item-belt>
    <div class="subHeader">
        <div class="leftHeader">Mobile</div>
        <div class="subOption" (click)="goToCatalogList('Mobile')">See All</div>
    </div>
    <mobile-item-belt></mobile-item-belt>
</div>

<!-- large view-->
<div id="homeBodyLarge" class="catalogContainerBody" *ngIf="getResize().largeUp">
    <div class="catalogContainerLarge">
        <div class="container2">
            <div class="container1">
                <smart-left-menu></smart-left-menu>
                <div class="componentContainer">
                    <div class="subInfoContainer">
                        <div class="leftSide">
                            <div class="balance">Your Point:</div>
                            <div class="expire">{{getRewardsBalance().expPoints}} pts expire on {{getRewardsBalance().expDate}}</div>
                        </div>
                        <div class="rightSide">
                            <div class="text">{{ getRewardsBalance().rewards }} <span>pts</span></div>
                        </div>    
                    </div>
                    <div class="catalogComponent">
                        <div class="subHeader belt">
                            <div class="leftHeader">Most Popular</div>
                            <div class="subOption" (click)="goToCatalogList('Most Popular')">See all</div>
                        </div>
                        <div class="itemBelt">
                            <most-popular-item-belt></most-popular-item-belt>
                        </div>
                        <div class="subHeader belt" *ngIf="getFavorites()">
                            <div class="leftHeader">My Favourite</div>
                            <div class="subOption" (click)="goToCatalogList('My Favorite')">See all</div>
                        </div>
                        <div class="itemBelt" *ngIf="getFavorites()">
                            <favorite-item-belt></favorite-item-belt>
                        </div>
                        <div class="subHeader belt">
                            <div class="leftHeader">All Categories</div>
                            <div class="subOption" (click)="goToCatalogList('All Categories')">See all</div>
                        </div>
                        <div class="itemBelt">
                            <all-category-item-belt></all-category-item-belt>
                        </div>
                        <div class="subHeader belt">
                            <div class="leftHeader">Lifestyle</div>
                            <div class="subOption" (click)="goToCatalogList('Lifestyle')">See all</div>
                        </div>
                        <div class="itemBelt">
                            <lifestyle-item-belt></lifestyle-item-belt>
                        </div>
                        <div class="subHeader belt">
                            <div class="leftHeader">Mobile</div>
                            <div class="subOption" (click)="goToCatalogList('Mobile')">See all</div>
                        </div>
                        <div class="itemBelt">
                            <mobile-item-belt></mobile-item-belt>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>