<div id="homeBody" class="overviewContainer"  *ngIf="!getResize().largeUp">
    <div class="header">
        <div class="text">
            <div class="headerSubText">Get deals from our shopping partners!</div>
        </div>
    </div>
    <div class="subHeader" (click)="gotoAccountOverview()">
        <div class="leftHeader">Account Overview</div>
        <div class="next"></div>
    </div>
    <circular-spinner *ngIf="getSpinnerStatus()"></circular-spinner>
    <div *ngIf="!getSpinnerStatus()">
        <div class="name">{{ getUserData().name }}</div>
        <div class="phoneDetail">
            <div class="phoneNo">+63{{ getUserData().phoneNo }}</div>
            <div class="phoneType">PRIMARY</div>
            <div class="numberType">Postpaid</div>
        </div>
        <div class="subInfoContainer">
            <div class="leftSide"
                [class.one-line]="getRewardsBalance().expPoints == 0">
                <div class="balance">Point Balance</div>
                <div class="expire"
                    *ngIf="getRewardsBalance().expPoints != 0">
                    {{getRewardsBalance().expPoints}} points expire on {{getRewardsBalance().expDate}}
                </div>
            </div>
            <div class="rightSide">
                <div class="text">{{ getRewardsBalance().rewards }} <span>pts</span></div>
            </div>    
        </div>
    </div>
    <div class="subHeader belt">
        <div class="leftHeader">Most Popular</div>
        <div class="subOption" (click)="goToCatalogList('Most Popular')">See all</div>
    </div>
    <div class="itemBelt">
        <most-popular-item-belt></most-popular-item-belt>
    </div>
    <div class="subHeader belt" *ngIf="getCategories()">
        <div class="leftHeader">You can almost get...</div>
        <div class="subOption" (click)="goToCatalogList('All Categories')">See all</div>
    </div>
    <div class="itemBelt" *ngIf="getCategories()">
        <almost-get-item-belt></almost-get-item-belt>
    </div>
</div>

<!-- large view-->
<div id="homeBodyLarge" class="rewardContainerBody" *ngIf="getResize().largeUp">
    <div class="rewardOverviewContainerLarge">
        <div class="container2">
            <div class="container1">
                <smart-left-menu></smart-left-menu>
                <div class="componentContainer">
                    <div class="accountContainer">
                        <div class="accountOverview">
                            <div class="header">
                                Account Overview
                            </div>
                            <circular-spinner *ngIf="getSpinnerStatus()"></circular-spinner>
                            <div *ngIf="!getSpinnerStatus()">
                                <div class="accountItem">
                                    <div class="accountIcon"></div>
                                    <div class="accountData">
                                        <div class="name">{{ getUserData().name }}</div>
                                        <div class="phoneDetail">
                                            <div class="phoneNo">+63{{ getUserData().phoneNo }}</div>
                                            <div class="phoneType">PRIMARY</div>
                                            <div class="numberType">Postpaid</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accountItem">
                                    <div class="accountIcon coin"></div>
                                    <div class="accountData">
                                        <div class="subInfoContainer">
                                            <div class="leftSide"
                                                [class.one-line]="getRewardsBalance().expPoints == 0">
                                                <div class="balance">Point Balance</div>
                                                <div class="expire"
                                                    *ngIf="getRewardsBalance().expPoints != 0">
                                                    {{getRewardsBalance().expPoints}} points expire on {{getRewardsBalance().expDate}}
                                                </div>
                                            </div>
                                            <div class="rightSide">
                                                <div class="text">{{ getRewardsBalance().rewards }} <span>pts</span></div>
                                            </div>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="buttonContainer">
                            <div class="button red" (click)="gotoActivityHistory()">Redeem Points</div>
                        </div>
                        <div class="latestTransaction">
                            <div class="header">
                                Latest Transaction
                            </div>
                            <div class="itemBox">
                                <div class="itemHeader">Redemption</div>
                                <div class="itemInfoLine">
                                    <div class="itemInfoIdentifier">The Body Shop P100 Treat</div>
                                    <div class="itemInfoPoint">-200 <span>pts</span></div>
                                </div>
                                <div class="itemAddInfo">2 item(s) to 09186859935</div>
                                <div class="itemDateInfo">
                                    <div class="itemDate">On March 14, 2016</div>
                                    <div class="itemBuyVia">via Smart Reward App</div>
                                </div>
                            </div>
                            <div class="itemBox">
                                <div class="itemHeader">Earning</div>
                                <div class="itemInfoLine">
                                    <div class="itemInfoIdentifier">Earned Points</div>
                                    <div class="itemInfoPoint">100 <span>pts</span></div>
                                </div>
                                <div class="itemAddInfo">Buy Add Ons for 09320133865</div>
                                <div class="itemDateInfo">
                                    <div class="itemDate">On March 14, 2016</div>
                                    <div class="itemBuyVia">via Smart Reward App</div>
                                </div>
                            </div>
                        </div>
                        <div class="buttonContainer">
                            <div class="button green" (click)="gotoActivityHistory()">View More</div>
                        </div>
                    </div>
                    <div class="catalogComponent">
                        <div class="subHeader belt">
                            <div class="leftHeader">Most Popular</div>
                            <div class="subOption" (click)="goToCatalogList('Most Popular')">See all</div>
                        </div>
                        <div class="itemBelt">
                            <most-popular-item-belt></most-popular-item-belt>
                        </div>
                        <div class="subHeader belt" *ngIf="getCategories()">
                            <div class="leftHeader">You can almost get...</div>
                            <div class="subOption" (click)="goToCatalogList('All Categories')">See all</div>
                        </div>
                        <div class="itemBelt" *ngIf="getCategories()">
                            <almost-get-item-belt></almost-get-item-belt>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
