<div class="perksContainer" [ngClass]="{medium : getResize().mediumUp}" *ngIf="!getResize().largeUp">
    <div class="header">
        <div class="text">
            <div class="headerSubText">Instant Deals, no need for points!</div>
        </div>
    </div>
    <div class="containerBody">
        <div class="itemListContainer">
            <div *ngFor="#catalog of getCatalogs()"
                (click)="openCatalogDisplay(catalog)"
                class="itemDetailContainer">
                <div class="itemPic">
                    <img [src]="catalog.imageUrl" />
                    <!--<div class="overlay"
                        [class.postpaid]="catalog.isOnlyPostpaid()"
                        [class.prepaid]="catalog.isOnlyPrepaid()"
                        [class.bro]="catalog.isOnlyBroPrepaid() || catalog.isOnlyBroPostpaid()">
                        {{ getOverlayText(catalog) }}
                    </div>-->
                </div>
                <div class="itemText">
                    <div class="itemSubHeader">{{ catalog.name }}</div> 
                    <div class="itemDesc">{{ catalog.description }}</div>    
                </div>
                <div class="itemPoint">{{ catalog.points }} <span>pts</span></div>
                <div class="item-favorite"
                    [class.red]="catalog.favorite"
                    (click)="toggleFavorite(catalog, $event)">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- large view-->
<div id="homeBodyLarge" class="dealContainerBody" *ngIf="getResize().largeUp">
    <div class="dealContainerLarge">
        <div class="container2">
            <div class="container1">
                <smart-left-menu></smart-left-menu>
                <div class="componentContainer">
                    <div class="subInfoContainer">
                        <div class="leftSide"
                            [class.one-line]="getRewardsBalance().expPoints == 0">
                            <div class="balance">Point Balance</div>
                            <div class="expire"
                                *ngIf="getRewardsBalance().expPoints != 0">
                                {{getRewardsBalance().expPoints}} points expire on {{getRewardsBalance().expDate}}
                            </div>
                        </div>
                        <div class="rightSide">
                            <div class="text">{{ getRewardsBalance().rewards }} <span>pts</span></div>
                        </div>    
                    </div>
                    <div class="catalogComponent">
                        <div class="categoryHeader">Exclusive Deals</div>
                        <div class="itemListContainer">
                            <div *ngFor="#catalog of getCatalogs()"
                                (click)="openCatalogDisplay(catalog)"
                                class="itemDetailContainer">
                                <div class="itemPic">
                                    <img [src]="catalog.imageUrl" />
                                    <!--<div class="overlay"
                                        [class.postpaid]="catalog.isOnlyPostpaid()"
                                        [class.prepaid]="catalog.isOnlyPrepaid()"
                                        [class.bro]="catalog.isOnlyBroPrepaid() || catalog.isOnlyBroPostpaid()">
                                        {{ getOverlayText(catalog) }}
                                    </div>-->
                                </div>
                                <div class="itemText">
                                    <div class="itemSubHeader">{{ catalog.name }}</div> 
                                    <div class="itemDesc">{{ catalog.description }}</div>    
                                </div>
                                <div class="itemPoint">{{ catalog.points }} <span>pts</span></div>
                                <div class="item-favorite"
                                    [class.red]="catalog.favorite"
                                    (click)="toggleFavorite(catalog, $event)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
