<div class="rewardsDetailContainer" [ngClass]="{medium : getResize().mediumUp}" *ngIf="!getResize().largeUp">
    <div class="containerBody">
        <div class="header">
            <div class="headerText">{{getRewardTypeText()}}</div>
        </div>
        <div class="itemListContainer">
            <div class="itemDetailContainer">
                <div class="itemPic"></div>
                <div class="itemText">
                    <div class="itemSubHeader">Krispy Kreme P50 Treat</div>
                    <div class="itemDesc">Krispy Kreme P50 voucher, plus a double upsize on coffee</div>    
                </div>
                <div class="itemPoint">50 <span>pts</span></div>
            </div>
            <div class="itemDetailContainer">
                <div class="itemPic"></div>
                <div class="itemText">
                    <div class="itemSubHeader">Krispy Kreme P50 Treat</div>
                    <div class="itemDesc">Krispy Kreme P50 voucher, plus a double upsize on coffee</div>    
                </div>
                <div class="itemPoint">50 <span>pts</span></div>
            </div>
            <div class="itemDetailContainer">
                <div class="itemPic"></div>
                <div class="itemText">
                    <div class="itemSubHeader">Krispy Kreme P50 Treat</div>
                    <div class="itemDesc">Krispy Kreme P50 voucher, plus a double upsize on coffee</div>    
                </div>
                <div class="itemPoint">50 <span>pts</span></div>
            </div>
            <div class="itemDetailContainer">
                <div class="itemPic"></div>
                <div class="itemText">
                    <div class="itemSubHeader">Krispy Kreme P50 Treat</div>
                    <div class="itemDesc">Krispy Kreme P50 voucher, plus a double upsize on coffee</div>    
                </div>
                <div class="itemPoint">50 <span>pts</span></div>
            </div>
            <div class="itemDetailContainer">
                <div class="itemPic"></div>
                <div class="itemText">
                    <div class="itemSubHeader">Krispy Kreme P50 Treat</div>
                    <div class="itemDesc">Krispy Kreme P50 voucher, plus a double upsize on coffee</div>    
                </div>
                <div class="itemPoint">50 <span>pts</span></div>
            </div>
            <div class="itemDetailContainer">
                <div class="itemPic"></div>
                <div class="itemText">
                    <div class="itemSubHeader">Krispy Kreme P50 Treat</div>
                    <div class="itemDesc">Krispy Kreme P50 voucher, plus a double upsize on coffee</div>    
                </div>
                <div class="itemPoint">50 <span>pts</span></div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="banner"></div> -->