<div class="accountOverviewContainer" [ngClass]="{medium : getResize().mediumUp}" *ngIf="!getResize().largeUp">
    <div class="containerBody">
        <div class="header">Account Overview</div>
        <div class="subHeader">
            <circular-spinner *ngIf="getSpinnerStatus()"></circular-spinner>
            <div *ngIf="!getSpinnerStatus()">
                <div class="name">{{ getUserData().name }}</div>
                <div class="phoneDetail">
                    <div class="phoneNo">+63{{ getUserData().phoneNo }}</div>
                    <div class="phoneType" *ngIf="getUserData().primary">PRIMARY</div>
                    <div class="numberType">Postpaid</div>
                </div>
                <div class="subInfoContainer">
                    <div class="leftSide">
                        <div class="balance">Point Balance</div>
                        <div class="expire" *ngIf="getRewardsBalance().expPoints != 0">
                            {{getRewardsBalance().expPoints}} points expire on {{getRewardsBalance().expDate}}</div>
                    </div>
                    <div class="rightSide">
                        <div class="text">{{ getRewardsBalance().rewards }} <span>pts</span></div>
                    </div>    
                </div>
            </div>
        </div>
        <div class="infoHeader">Latest Transactions</div>
        <circular-spinner *ngIf="getActivitySpinnerStatus()"></circular-spinner>
        <div *ngIf="!getActivitySpinnerStatus()">
            <div class="itemBox" *ngFor="#activity of getLatestActivity()">
                <div class="itemHeader">{{activity.type}}</div>
                <div class="itemInfoLine">
                    <div class="itemInfoIdentifier">{{activity.name}}</div>
                    <div class="itemInfoPoint">{{activity.point}} <span>pts</span></div>
                </div>
                <div class="itemAddInfo">{{activity.desc}}</div>
                <div class="itemDateInfo">
                    <div class="itemDate">On {{activity.date}}</div>
                    <div class="itemBuyVia">via {{activity.media}}</div>
                </div>
            </div>
        </div>
        <div class="buttonContainer">
            <div class="button" (click)="gotoActivityHistory()">View Details In Activity History</div>
        </div>
</div>