<div class="manageNumberContainer" [ngClass]="{medium : getResize().mediumUp}" *ngIf="!getResize().largeUp">
    
    <!--main page-->
    <div class="containerBody">
        <div class="header">
            <div class="text">
                <div class="headerText">Manage My Numbers</div>
                <div class="headerSubText">Connect your numbers to enable you use your points together</div>
            </div>
        </div>
        <div *ngFor="#phone of getUserPhoneNumber()" class="itemContainer" (click)="toggleEditNumber(phone)">
            <div class="name">{{phone.name}}</div>
            <div class="phoneDetail">
                <div class="phoneNo">+63{{phone.phoneNo}}</div>
                <!--<div class="phoneType" *ngIf="phone.primary">PRIMARY</div>-->
                <div class="numberType">postpaid<!--{{phone.type}}--></div>
            </div>
        </div>
        <div class="itemFooterContainer">
            <div class="button" (click)="toggleAddNumber()">Add new number</div>
        </div>
    </div>
    
</div>

<!-- large view-->
<div class="manageNumberContainerLarge" *ngIf="getResize().largeUp">
    <div class="itemComponent">
        <div class="itemHeader">Manage My Number</div>
        <div class="containerBody">
            
            <!--main page-->
            <div>
                <div *ngFor="#phone of getUserPhoneNumber()" class="itemContainer" (click)="toggleEditNumber(phone)">
                    <div class="name">{{phone.name}}</div>
                    <div class="phoneDetail">
                        <div class="phoneNo">+63{{phone.phoneNo}}</div>
                        <!--<div class="phoneType" *ngIf="phone.primary">PRIMARY</div>-->
                        <div class="numberType">postpaid<!--{{phone.type}}--></div>
                    </div>
                </div>
                <div class="itemFooterContainer">
                    <div class="button" (click)="toggleAddNumber()">Add new number</div>
                </div>
            </div>
                
        </div>
    </div>
    <div class="bannerComponent">
        <div class="banner1"></div>
        <div class="banner2"></div>
    </div>
</div>