.homeContainer{
    
    background-color: #FFF;
    
    .bodyHeader{
        color: black;
        width: calc(100% - 20px);
        font-size: 23px;
        padding: 20px 0px 0px 20px;
        line-height: 40px;
        
    }
    
    .divider{
        display: inline-block;
        width: 90%;
        height: 2px;
        margin-left: 5%;
        border-bottom: 2px solid $lightgray;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .homeActionsLayout{
        
        width: 100%;
        display: inline-block;
        padding-bottom: 17px;

        &::after{
            clear: both;
            content: " "; /* 1 */
            display: table; /* 2 */
        }
        .box{
            width: 100%;

            .col1{
                width: 100%;
                float: left;
            }

            .col3{
                width:calc(100% / 3);
                // padding: 0 2%;
                float: left;
                
                .actionsBox{
                    float: left;
                    margin-left: 10%;
                    margin-right: 10%;
                    width: 80%;

                    ul {
                        list-style: none inside;
                        margin: 0;
                        padding: 0;

                        li {
                            border-top: 2px solid #EEE;
                            border-left: 2px solid #EEE;
                            border-right: 2px solid #EEE;
                            color: $pldtred;
                            font-size: 15px;
                            
                            &.seeLess{
                                 border-top: none;
                            }

                            &:not(.heading):hover {
                                background-color: $pldtred;
                            }
                            
                            &:last-child{
                                border-bottom: 2px solid #EEE;
                            }

                            &.heading {
                                font-weight:bold;
                                padding: 10px;
                                border: none;
                                font-size: 23px;
                            }

                            span {
                                padding: 10px 0px 10px 10px;
                                color: $pldtred;
                                width: calc(100% - 20px);
                                height:100%;
                                display: inline-block;
                                
                                &.smaller{
                                    font-size: 12px;
                                }
                                
                                &.moreOption{
                                    text-align: center;
                                }

                                &:hover {
                                    color: white;
                                }
                            }
                        }
                    }
                }               
            }
        }
    }
    
    .productContainer{
        display: inline-block;
        padding-top: 20px;
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 20px;
        width: 94%;
        
        .product{
            width: 50%;
            
            &.left{
                float: left;
            }
            
            &.right{
                float: right;
            }
            
            .productName{
                display: inline-block;
                font-size: 23px;
                color: black;
            }
            
            
            .productBody{
                display: inline-block;
                width: calc(100% - 40px);
                text-align: center;
                margin: 20px auto 20px auto;
                
                .productImage{
                    height: 200px;
                    width: 100%;
                    
                    &.leftImage{
                        width: 50%;
                        float: left;
                    }
                    
                    &.allin{
                        background: url(../img/all-in.png) no-repeat;
                        background-position: center;
                        background-size: 200px;
                    }
                    
                    &.help{
                        background: url(../img/help.png) no-repeat;
                        background-position: center;
                        background-size: 150px;
                    }
                    
                    &.watch{
                        background: url(../img/watch.jpg) no-repeat;
                        background-position: center;
                        background-size: 150px;
                    }
                    
                    &.idina{
                        background: url(../img/idina.jpg) no-repeat;
                        background-position: center;
                        background-size: 150px;
                    }
                    
                }
                
                .productDesc{
                    font-size: 20px;
                    height: 45px;
                    
                    &.rightText{
                        width: 50%;
                        font-size: 15px;
                        float: right;
                        
                    }
                    
                    .itemTitle{
                        font-size: 18px; 
                        color: $pldtred;
                        margin: 10px 0 10px 0;
                        
                        &.bold{
                            font-weight: bold;
                        }
                        
                    }
                    
                }  
                
            }
            
            .button{
                width: 100px;
                margin: 10px auto 0 auto;
                color: #FFF;
            }
            
        }
    }    
}


