<div class="headerSmall" [ngClass]="{openSearch : filterFunction}" *ngIf="getLayout().appHeader">
	<div class="mainBox">
        <div class="defaultBox">
            <div class="hamburger" *ngIf="showHamburger()" (click)="toggleLeftMenu()"></div>
            <div class="back" *ngIf="showBackButton()" (click)="goToPreviousPage()"></div>
            <div class="cart"></div>
            <div class="magnifier" *ngIf="showFilter() && !filterFunction" (click)="toggleFilterFunction()"></div>
            <div class="up-arrow" *ngIf="showFilter() && filterFunction" (click)="toggleFilterFunction()"></div>
            
            <div class="logo" *ngIf="showLogo()"></div>
            <div class="points" *ngIf="showPoints()">1010 <span>pts</span></div>
        </div>
        <div class="filterBox" *ngIf="filterFunction">
            <div class="sliderBox">
                <span class="description">Points</span>
                <multi-slider
                    [start]="getFilter().points"
                    [range]="{min:0, max:10000}"
                    (slide)="getFilter().points = $event"
                    ></multi-slider>
                <!--
                <span class="pointSlider">
                    <div class="bar">
                        <div class="bar selected" style="left: 30px; width: 200px"></div>
                        <div class="pointer"></div>
                        <div class="label" style="left: 25px;">30</div>
                        <div class="pointer" style="left: 230px;"></div>
                        <div class="label2" style="left: 225px;">230</div>
                    </div>   
                </span>
                -->
            </div>
            <div class="categoryBox">
                <div class="title">Categories</div>
                <div class="options">
                    <ul>
                        <!--
                        <li (click)="getFilter().toggleMyFavorites()">
                            <span class="check" [class.active]="getFilter().isMyFavorites()"></span>
                            <span class="">My Favorites</span>
                        </li>
                        <li><span class="check active"></span><span class="">Perks</span></li>
                        <li><span class="check"></span><span class="">Lifestyle</span></li>
                        <li><span class="check"></span><span class="">Mobile</span>
                            <ul>
                                <li><span class="check"></span><span class="">Prepaid</span></li>
                                <li><span class="check"></span><span class="">Postpaid</span></li>
                                <li><span class="check"></span><span class="">Bro Prepaid</span></li>
                                <li><span class="check"></span><span class="">Bro Postpaid</span></li>
                            </ul>
                        </li>
                        -->
                        <li (click)="toggleMyFavorites()">
                            <input class="check" type="checkbox" [(ngModel)]="getFilter().categories.myFavorites"/>
                            <span class="">My Favorites</span>
                        </li>
                        <li (click)="togglePerks()">
                            <input class="check" type="checkbox" [(ngModel)]="getFilter().categories.perks"/>
                            <span class="">Perks</span>
                        </li>
                        <li (click)="toggleLifestyle()">
                            <input class="check" type="checkbox" [(ngModel)]="getFilter().categories.lifestyle"/>
                            <span class="">Lifestyle</span>
                        </li>
                        <li>
                            <div (click)="toggleMobile()">
                                <input class="check" type="checkbox" [(ngModel)]="getFilter().categories.mobile"/>
                                <span class="">Mobile</span>
                            </div>
                            <ul>
                                <li (click)="togglePrepaid()">
                                    <input class="check" type="checkbox" [(ngModel)]="getFilter().categories.prepaid"/>
                                    <span class="">Prepaid</span>
                                </li>
                                <li (click)="togglePostpaid()">
                                    <input class="check" type="checkbox" [(ngModel)]="getFilter().categories.postpaid"/>
                                    <span class="">Postpaid</span>
                                </li>
                                <li (click)="toggleBroPrepaid()">
                                    <input class="check" type="checkbox" [(ngModel)]="getFilter().categories.broPrepaid"/>
                                    <span class="">Bro Prepaid</span>
                                </li>
                                <li (click)="toggleBroPostpaid()">
                                    <input class="check" type="checkbox" [(ngModel)]="getFilter().categories.broPostpaid"/>
                                    <span class="">Bro Postpaid</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
<!--     <div class="headerContainer2" *ngIf="filterFunction">
        <div class="upperHeader">
            <div class="back" (click)="toggleFilterFunction()"></div>
            <select class="categoryFilter">
                <option value="all">All</option>
                <option value="food">Food</option>
                <option value="beauty">Beauty</option>
                <option value="plan">Plan</option>
            </select>
            <select class="pointsFilter">
                <option value="0">1 - 200</option>
                <option value="100">201 - 500</option>
                <option value="200">501 - 1000</option>
                <option value="500">1001 - 2000</option>
                <option value="1000">> 2000</option>
            </select>
        </div>
        <div class="bottomHeader">
            <input class="search" placeholder="Rewards" [(ngModel)]="searchString" />
        </div>
    </div> -->
</div>
<div class="headerContainer" *ngIf="getLayout().loginHeader">
	<div class="headerLogin">
		<div class="backArrow" (click)="goToPreviousPage()"></div>
	</div>
</div>
