<!-- <div class="leftmenuContainer" *ngIf="getLeftMenuState()"> ng-class="{'active': vmLeftMenu.showMenu}">-->
    <div class="leftmenuContainer" [ngClass]="{active : getLeftMenuState()}">
        <div class="menuHeader">
            <div class="menuPic"></div>
            <div class="menuHeaderText">
                <div class="smartPic"></div>
                <div class="smartPoint">1010 <span>pts</span></div>
                <div class="expiry">200 pts expire on 31-03</div>
            </div>
            <select class="phoneNumber">
                <option>09298874801</option>
            </select>
        </div>
        <div class="menuItemBox">
            <div class="itemCategory">Rewards Overview</div>
            <div class="itemMenu">Account Overview</div>
            <div class="itemMenu">My Reward Overview</div>
            <div class="itemCategory">Rewards Account Setting</div>
            <div class="itemMenu">My Reward Profile</div>
            <div class="itemMenu">Manage My Numbers</div>
            <div class="itemCategory">Links</div>
            <div class="itemMenu">Go to MySmart</div>
            <div class="itemMenu">Go to Smart Life</div>
            <div class="itemMenu">About Rewards</div>
            <div class="itemMenu">Help & FAQ</div>
            <div class="itemCategory">Logout</div>
        </div>
    </div>
    <div class="leftmenuOther" *ngIf="getLeftMenuState()" (click)="toggleLeftMenu()"></div>
<!--</div>-->