<!-- <div class="leftmenuContainer" *ngIf="getLeftMenuState()"> ng-class="{'active': vmLeftMenu.showMenu}">-->
    <div class="leftmenuContainer" [ngClass]="{active : getLeftMenuState()}">
        <div class="menuHeader">
            <div id="spinnerMenu" class="sk-circle"  *ngIf="getSpinnerStatus()">
                <div id="spinnerItemWhite" class="spinnerItem sk-circle1 sk-child"></div>
                <div id="spinnerItemWhite" class="sk-circle2 sk-child"></div>
                <div id="spinnerItemWhite" class="sk-circle3 sk-child"></div>
                <div id="spinnerItemWhite" class="sk-circle4 sk-child"></div>
                <div id="spinnerItemWhite" class="sk-circle5 sk-child"></div>
                <div id="spinnerItemWhite" class="sk-circle6 sk-child"></div>
                <div id="spinnerItemWhite" class="sk-circle7 sk-child"></div>
                <div id="spinnerItemWhite" class="sk-circle8 sk-child"></div>
                <div id="spinnerItemWhite" class="sk-circle9 sk-child"></div>
                <div id="spinnerItemWhite" class="sk-circle10 sk-child"></div>
                <div id="spinnerItemWhite" class="sk-circle11 sk-child"></div>
                <div id="spinnerItemWhite" class="sk-circle12 sk-child"></div>
            </div>
            <div *ngIf="!getSpinnerStatus()">
                <div class="menuPic"></div>
                <div class="menuHeaderText">
                    <div class="smartPic">
                        <div class="picture"></div>
                        <div class="text">Rewards</div>
                    </div>
                    <div class="smartPoint">{{ getRewardsBalance().rewards }} <span>pts</span></div>
                </div>
                <div class="expiry">{{getRewardsBalance().expPoints}} pts expire on {{getRewardsBalance().expDate}}</div>
            </div>
            <select class="phoneNumber" *ngFor="#phone of getListOfPhone()">
                <option >+63{{ phone.phoneNo }}</option>
            </select>
        </div>
        <div class="menuItemBox">
            <div class="itemCategory">Rewards Overview</div>
            <div class="itemMenu" (click)="gotoAccountOverview()">
                <div class="text">Account Overview</div>
                <div class="arrow"></div>
            </div>
            <div class="itemMenu" (click)="gotoActivityHistory()">
                <div class="text">Activity History</div>
                <div class="arrow"></div>
            </div>
            <div class="itemCategory">Rewards Account Setting</div>
            <div class="itemMenu" (click)="gotoProfile()">
                <div class="text">My Reward Profile</div>
                <div class="arrow"></div>
            </div>
            <div class="itemMenu" (click)="gotoManageNumber()">
                <div class="text"> Manage My Numbers</div>
                <div class="arrow"></div>
            </div>
            <div class="itemCategory">Links</div>
            <div class="itemMenu">
                <div class="text">Go to MySmart</div>
                <div class="arrow"></div>
            </div>
            <div class="itemMenu">
                <div class="text">Go to Smart Life</div>
                <div class="arrow"></div>
            </div>
            <div class="itemMenu">
                <div class="text">About Rewards</div>
                <div class="arrow"></div>
            </div>
            <div class="itemMenu">
                <div class="text">Help & FAQ</div>
                <div class="arrow"></div>
            </div>
            <div class="itemCategory click" (click)="logout()">
                Logout
                <div class="arrow"></div>
            </div>
        </div>
    </div>
    <div class="leftmenuOther" *ngIf="getLeftMenuState()" (click)="toggleLeftMenu()"></div>
<!--</div>-->