<div class="containerLoginSmall">
	<div class="outer-box">
        <div class="smartLogo"></div>
		<div class="header">Enter your My Smart details to continue</div>
		<div class="inner-box">
			<input placeholder="Smart number or email address" [(ngModel)]="userId" />
			<input placeholder="Password" type="password" [(ngModel)]="password" />
			<div class="button">
                <a (click)="login($event)" *ngIf="!getLoadingState()">Log In</a>
                <horizontal-spinner *ngIf="getLoadingState()" [color]="'white'"></horizontal-spinner>
            </div>
            <div class="errorAlert">{{getErrorMessageText()}}</div>
			<p><a (click)="gotoForgotPassword()">Forgot your password?</a></p>
			<p><a (click)="gotoRegister()">I don't have a My Smart Account yet</a></p>
		</div>
	</div>
</div>