<div>
	<div class="containerForgotPasswordSmall">
        <div class="outer-box">
            <div class="header">Forgot your password?</div>
            <div class="description-text">To reset your password, identify the Smart mobile number or email address you used to register to MySmart.</div>
            <div class="inner-box">
                <input class="smartnumber" placeholder="Smart number or email address" [(ngModel)]="userId" />
                <div class="errorAlert" *ngIf="errorMessageFlag">{{getErrorMessageText()}}</div>
                <div class="button"><a (click)="gotoVerificationForm()">Next</a></div>
                <!-- <p><a href="#">I don't have a My Smart Account yet</a></p> -->
            </div>
        </div>
	</div>
</div>