<div>
	<div class="containerRegisterSmall">
		<div class="outer-box">
			<div class="header">Create a My Smart account now</div>
			<div class="inner-box">
                <input class="borderbottom" #userid placeholder="Smart number or email address" />
				<input class="borderbottom halfsize" #firstname placeholder="First Name" />
				<input class="borderbottom halfsize" #lastname placeholder="Last Name" />
				<input class="borderbottom" #password placeholder="Password" type="password" />
				<input #confirmpassword placeholder="Confirm Password" type="password" />
                <div class="errorAlert" *ngIf="checkErrorStatus">{{getErrorMessageText()}}</div>
				<div class="button"><a (click)="register(userid.value,firstname.value,lastname.value,password.value,confirmpassword.value)">Register</a></div>
			</div>
		</div>
	</div>
</div>