<div class="MyBundle">
	<h2>My Bundles</h2>
	<div class="outerBox">
		<div class="innerBox">
            <div class="internet" [ngClass]="{ medium : getResize().mediumUp, large : getResize().largeUp}"></div>
            <div class="usageItem">				
                <div class="subheader">Internet</div>
                <div class="usageDetail">
                    <span class="usageAmount">5000</span>
                    <span class="identifier">MB</span>
                    <span class="expDate">until 15-04</span>
                </div>
                <!--<div class="usage-internet"></div>-->
                <div class="usageBar">
                    <div id="internetBar" class="usageInnerBar"></div>
                </div>
                <div class="barometer">
                    <span class="zeroUsage">0 MB</span>
                    <span class="maxUsage">5000 MB</span>
                </div>				
            </div>
		</div>
		
		<div class="innerBox">
            <div class="voice" [ngClass]="{ medium : getResize().mediumUp, large : getResize().largeUp}"></div>
            <div class="usageItem">				
                <div class="subheader">Voice</div>
                <div class="usageDetail">
                    <span class="usageAmount">30</span>
                    <span class="identifier">mins</span>
                    <span class="expDate">until 15-04</span>
                </div>
                <!--<div class="usage-internet"></div>-->
                <div class="usageBar">
                    <div id="voiceBar" class="usageInnerBar"></div>
                </div>
                <div class="barometer">
                    <span class="zeroUsage">0 mins</span>
                    <span class="maxUsage">30 mins</span>
                </div>				
            </div>
		</div>
		
		<div class="innerBox">
            <div class="text" [ngClass]="{ medium : getResize().mediumUp}"></div>
            <div class="usageItem">				
                <div class="subheader">Text</div>
                <div class="usageDetail">
                    <span class="usageAmount">100</span>
                    <span class="identifier">SMS</span>
                    <span class="expDate">until 15-04</span>
                </div>
                <!--<div class="usage-internet"></div>-->
                <div class="usageBar">
                    <div id="messageBar" class="usageInnerBar"></div>
                </div>
                <div class="barometer">
                    <span class="zeroUsage">0 SMS</span>
                    <span class="maxUsage">100 SMS</span>
                </div>				
            </div>
		</div>
		
		<div class="buttonRow">
            <div class="button blue"><a href="#/mysmart/add">View Details</a></div>		
			<div class="button red"><a href="#/mysmart/add">Add More</a></div>
		</div>	
        
        <div class="footNote">
           Data as of 26 March, 20:05
        </div>
            
    </div>
</div>