<div class="MyBalance">
    <h2>My Balance</h2>
    <div class="box">
        <div class="balanceIcon"></div>
        <div class="balanceBody" *ngIf="selectedPhoneNumber().type === 'postpaid'">
            
            <div class="balanceRow">
                <div class="description">
                    <div class="text">Current Bill Charges</div>
                </div>
                <div class="amountText">P{{getBalance().currentBalance}}</div>
            </div>
            
            <div class="balanceRow">
                <div class="description">
                    <div class="text">Total Amount Due</div>
                    <div class="dueTo">Due {{getBalance().dueDate}}</div>
                </div>
                <div class="amountText">P{{getBalance().outstandingBalance}}</div>
            </div>     
            
        </div>
        
        <div class="balanceBody" *ngIf="selectedPhoneNumber().type === 'prepaid'">
            
            <div class="balanceRow">
                <div class="description">
                    <div class="text">LoadBalance</div>
                    <div class="dueTo">Expired on 31-02</div>
                </div>
                <div class="amountText">P1,780.50</div>
            </div>     
            
        </div>
            
        <div class="buttonRow" *ngIf="selectedPhoneNumber().type === 'postpaid'">
            <div class="button blue"><a href="#">eStatement</a></div>
            <div class="button red"><a href="#">Pay Now</a></div>
        </div>
        
        <div class="buttonRow" *ngIf="selectedPhoneNumber().type === 'prepaid'">
            <div class="button red"><a href="#">Buy eLoad</a></div>
        </div>
        
        <div class="footNote">
        Data as of 26 March, 20:05
        </div>
    </div>
            
</div>