<div class="myPlanContainer">
    <div class="box">
        <h2>My Plan</h2>
        <div class="body">
            <div class="planIcon"></div>
            <div class="planText" *ngIf="selectedPhoneNumber().type === 'postpaid'">{{getPlanName()}}</div>
            <div class="planText" *ngIf="selectedPhoneNumber().type === 'prepaid'">Surf Plus Jump In</div>
        </div>
        <div class="expText">Expired on 15-04</div>
    </div>
    <div class="button-row" *ngIf="selectedPhoneNumber().type === 'postpaid'">
        <div class="button"><a>Change Plan</a></div>
        <div class="button red"><a>Renew Plan</a></div>
    </div>
    <div class="button-row" *ngIf="selectedPhoneNumber().type === 'prepaid'">
        <div class="button"><a>Change Plan</a></div>
    </div>
</div>