
<div>
    <div id="balanceBodyLarge" class="BalanceContainerLarge" *ngIf="getResize().largeUp">
        <div class="containerBody">
            <div class="numberSelector">
                <div class="topHalf">
                    <my-number></my-number>
                </div>
                <div class="bottomHalf"></div>
            </div>
            <div class="middleComponent">
                <div class="header"> My Balance </div>
                <div class="middleLeftComponent">
                    <div class="postpaid" *ngIf="selectedPhoneNumber().type === 'postpaid'">
                        <div class="itemRow"> 
                            <div class ="headerDetail">
                            <div class = "headerDetailText">Previous Bill Balance</div>
                            <div class = "help" (click)="PrevBillDesc()"></div>
                            </div>
                            <div class ="DetailValue">P{{getBalance().previousBalance}}</div>                  
                        </div>
                        <div class="itemRow"> 
                            <div class ="headerDetail">
                            <div class = "headerDetailText">Current Bill Charges</div>
                            <div class = "help" (click)="CurrBillDesc()"></div>
                            </div>
                            <div class ="DetailValue">P{{getBalance().currentBalance}}</div>                  
                        </div>
                        <div class="itemRow"> 
                            <div class ="headerDetail">
                            <div class = "headerDetailText">Total Amount Due</div>
                            <div class = "help" (click)="AmountDueDesc()"></div>
                            </div>
                            <div class ="DetailValueRed">P{{getBalance().outstandingBalance}}</div>                  
                        </div>                
                    </div>               
                    <div class="prepaid" *ngIf="selectedPhoneNumber().type === 'prepaid'">
                        <div class="itemRow"> 
                            <div class ="headerDetail">
                            <div class = "headerDetailText">Load Balance</div>
                            <div class = "help" (click)="LoadBalDesc()"></div>
                            </div>
                            <div class ="DetailValue">P1,780.50</div>                  
                        </div>                 
                    </div>                      
                </div>
            
                <div class="middleRightComponent">
                    <div class="postpaid" *ngIf="selectedPhoneNumber().type === 'postpaid'">                       
                        <div class="itemRow"> 
                            <div class ="headerDetail">
                            <div class = "headerDetailText" >Payment Due Date</div>
                            <div class = "help" (click)="PaymentDueDesc()"></div>
                            </div>
                            <div class ="DetailValueRed">{{getBalance().dueDate}}</div>                  
                        </div>
                        <div class="itemRow"> 
                            <div class ="headerDetail">
                            <div class = "headerDetailText">Minimum Amount Due</div>
                            <div class = "help" (click)="MinDueDesc()"></div>
                            </div>
                            <div class ="DetailValue">P{{getBalance().outstandingBalance}}</div>                  
                        </div>
                        <div class="itemRow">
                            <div class ="headerDetail">
                            <div class = "headerDetailText">Unbilled Usage</div>
                            <div class = "help" (click)="UnbilledUsageDesc()"></div>
                            </div>
                            <div class ="DetailValue">P0.00</div>
                        </div>
                    </div>
                
                <div class="prepaid" *ngIf="selectedPhoneNumber().type === 'prepaid'">
                    <div class="itemRow"> 
                        <div class ="headerDetail">
                        <div class = "headerDetailText">Current Bill Charges</div>
                        <div class = "help" (click)="CurBillChargeDesc()"></div>
                        </div>
                        <div class ="DetailValue">31-03</div>                  
                    </div>        
                </div> 
               
               </div>
               
               <div class="balance-footer">
                    <div class="postpaid" *ngIf="selectedPhoneNumber().type === 'postpaid'">
                            <div class="buttonRow">
                                <div class="button red"><a href="#">eStatement</a></div>
                                <div class="button blue"><a href="#">Pay Now</a></div>
                            </div> 
                        </div>
                    <div class="prepaid" *ngIf="selectedPhoneNumber().type === 'prepaid'">               
                        <div class="buttonRow">
                            <div class="button red"><a href="#">Buy eLoad</a></div>
                        </div> 
                    </div>
               </div> 
                
                                     
                            
	      </div>
       </div>
    </div>
    
	<div class="BalanceContainerSmall" [ngClass]="{medium : getResize().mediumUp}" *ngIf="!getResize().largeUp">
        <div class="containerBody">
            <div id="hdrDropDown" class="myNumberContainer">
                <my-number *ngIf="numberSelectionState()"></my-number>
            </div>
            <div class="header"> My Balance </div>
            
            <div class="postpaid" *ngIf="selectedPhoneNumber().type === 'postpaid'">
            <div class="itemRow"> 
                <div class ="headerDetail">
                   <div class = "headerDetailText">Previous Bill Balance</div>
                   <div class = "help" (click)="PrevBillDesc()"></div>
                </div>
                <div class ="DetailValue">P{{getBalance().previousBalance}}</div>                  
            </div>
            <div class="itemRow"> 
                <div class ="headerDetail">
                   <div class = "headerDetailText">Current Bill Charges</div>
                   <div class = "help" (click)="CurrBillDesc()"></div>
                </div>
                <div class ="DetailValue">P{{getBalance().currentBalance}}</div>                  
            </div>
            <div class="itemRow"> 
                <div class ="headerDetail">
                   <div class = "headerDetailText">Total Amount Due</div>
                   <div class = "help" (click)="AmountDueDesc()"></div>
                </div>
                <div class ="DetailValue red">P{{getBalance().outstandingBalance}}</div>                  
            </div>
           <div class="itemRow"> 
                <div class ="headerDetail">
                   <div class = "headerDetailText" >Payment Due Date</div>
                   <div class = "help" (click)="PaymentDueDesc()"></div>
                </div>
                <div class ="DetailValue red">{{getBalance().dueDate}}</div>                  
            </div>
            <div class="itemRow"> 
                <div class ="headerDetail">
                   <div class = "headerDetailText">Minimum Amount Due</div>
                   <div class = "help" (click)="MinDueDesc()"></div>
                </div>
                <div class ="DetailValue">P{{getBalance().outstandingBalance}}</div>                  
            </div>
            <div class="itemRow">
                <div class ="headerDetail">
                   <div class = "headerDetailText">Unbilled Usage</div>
                   <div class = "help" (click)="UnbilledUsageDesc()"></div>
                </div>
                <div class ="DetailValue">P0.00</div>
            </div>
            <div class="buttonRow">
                <div class="button red"><a href="#">eStatement</a></div>
                <div class="button blue"><a href="#">Pay Now</a></div>
            </div> 
            </div>
            
            <div class="prepaid" *ngIf="selectedPhoneNumber().type === 'prepaid'">
            <div class="itemRow"> 
                <div class ="headerDetail">
                   <div class = "headerDetailText">Load Balance</div>
                   <div class = "help" (click)="LoadBalDesc()"></div>
                </div>
                <div class ="DetailValue">P1,780.50</div>                  
            </div>
            <div class="itemRow"> 
                <div class ="headerDetail">
                   <div class = "headerDetailText">Current Bill Charges</div>
                   <div class = "help" (click)="CurBillChargeDesc()"></div>
                </div>
                <div class ="DetailValue">31-03</div>                  
            </div>       
            <div class="buttonRow">
                <div class="button red"><a href="#">Buy eLoad</a></div>
            </div> 
            </div>
                      
        </div>
	</div>
</div>