<div class="viewPukContainer" [ngClass]="{medium : getResize().mediumUp}" *ngIf="!getResize().largeUp">
    <div class="containerBody">
        <div class="header">
            <div class="void"></div>
            <div class="text">
                <div class="headerText">PUK Code</div>
                <div class="headerSubText">View PUK of your Smart number</div>
            </div>
        </div>
        <div>
            <div class="itemLabel">For security purpose, please fill in your mySmart password to request PUK code</div>
            <div class="itemContainer">
                <div class="itemIdentifier password"></div>
                <input class="inputValue" placeholder="mySmart Password" />
            </div>
            <div class="itemFooterContainer">
                <div class="button" (click)="gotoViewPuk()">Proceed</div>
            </div>
        </div>
    </div>
</div>
<!-- large view-->
<div id="homeBodyLarge" class="viewPukContainerBody" *ngIf="getResize().largeUp">
    <div class="viewPukContainerLarge">
        <div class="container2">
            <div class="container1">
                <smart-left-menu></smart-left-menu>
                <div class="componentContainer">
                    <div class="itemComponent">
                        <div class="itemHeader">View PUK</div>
                        <div class="itemLabel">For security purpose, please fill in your mySmart password to request PUK code</div>
                        <div class="itemContainer">
                            <div class="itemIdentifier password"></div>
                            <input class="inputValue" placeholder="mySmart Password" />
                        </div>
                        <div class="itemFooterContainer">
                            <div class="button" (click)="gotoViewPuk()">Proceed</div>
                        </div>
                    </div>
                    <div class="bannerComponent">
                        <div class="banner1"></div>
                        <div class="banner2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
