
<div>
	<div class="NumberContainerSmall" [ngClass]="{medium : getResize().mediumUp}" *ngIf="!getResize().largeUp">
        <div class="containerBody">
            <div class="header"> 
                <div class="headerText">Manage My Number </div>
                <div class="addNumber"></div>
            </div>
            <div *ngFor="#PhoneNumber of allPhoneNumbers" class="selectionItem">
                <div class="selectionIcon" [ngClass]="{postpaid : (PhoneNumber.type === 'postpaid'),
                    broadband : (PhoneNumber.type === 'broadband'),
                    prepaid : (PhoneNumber.type === 'prepaid')}">
                </div>
                <div class="numberText">
                    <div class="Name">{{PhoneNumber.name}}</div>
                    <div class="Number"> {{PhoneNumber.number}} - {{PackageType}}</div>
                </div>
            </div>      
        </div>
	</div>
</div>

<!-- <div class="banner"></div> -->