<div class="dropDownBody">
    <div class="selectionHeader">
        <span>My Smart Numbers</span>
        <div class="myNumberSettingIcon" (click)="gotoManageNumber()"></div>
    </div>
    <div *ngFor="#PhoneNumber of getAllAvalaiblePhoneNumber()" class="selectionItem" (click)="selectPhoneNumber(PhoneNumber)">
        <div class="selectionIcon" [ngClass]="{postpaid : (PhoneNumber.type === 'postpaid'),
            broadband : (PhoneNumber.isBroadband===true),
            prepaid : (PhoneNumber.type === 'prepaid')}">
        </div>
        <div class="numberText">
            <span>{{PhoneNumber.name}} {{PhoneNumber.number}}</span>
        </div>
    </div>
</div>