<div class="pastBillContainer" [ngClass]="{medium : getResize().mediumUp}" *ngIf="!getResize().largeUp">
    <div class="containerBody">
        <div class="header">
            <div class="void"></div>
            <div class="text">
                <div class="headerText">Invoice History</div>
                <div class="headerSubText">Download your past bills here</div>
            </div>
        </div>
        <div>
            <div class="itemContainer">
                <div class="billItem">
                    <div class="billDate">October 2015</div>
                    <div class="button">Download</div>
                </div>
                <div class="billItem">
                    <div class="billDate">November 2015</div>
                    <div class="button">Download</div>
                </div>
                <div class="billItem">
                    <div class="billDate">December 2015</div>
                    <div class="button">Download</div>
                </div>
                <div class="billItem">
                    <div class="billDate">January 2015</div>
                    <div class="button">Download</div>
                </div>
                <div class="billItem">
                    <div class="billDate">February 2015</div>
                    <div class="button">Download</div>
                </div>
                <div class="billItem">
                    <div class="billDate">March 2015</div>
                    <div class="button">Download</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- large view-->
<div class="pastBillContainerLarge" *ngIf="getResize().largeUp">
    <div class="itemComponent">
        <div class="itemHeader">Invoice History</div>
            <div class="billItem">
            <div class="billDate">October 2015</div>
            <div class="button">Download</div>
        </div>
        <div class="billItem">
            <div class="billDate">November 2015</div>
            <div class="button">Download</div>
        </div>
        <div class="billItem">
            <div class="billDate">December 2015</div>
            <div class="button">Download</div>
        </div>
        <div class="billItem">
            <div class="billDate">January 2015</div>
            <div class="button">Download</div>
        </div>
        <div class="billItem">
            <div class="billDate">February 2015</div>
            <div class="button">Download</div>
        </div>
        <div class="billItem">
            <div class="billDate">March 2015</div>
            <div class="button">Download</div>
        </div>
    </div>
    <div class="bannerComponent">
        <div class="banner1"></div>
        <div class="banner2"></div>
    </div>
</div>
