
<div> 
    	<div id="planBodyLarge" class="PlanContainerLarge" *ngIf="getResize().largeUp">
        <div class="containerBody">
            <div class="numberSelector">
                <div class="topHalf">
                    <my-number></my-number>
                </div>
                <div class="bottomHalf"></div>
            </div>
            <div class="middleComponent">
                <div class="header"> My Plan </div>
                <div class="postpaid" *ngIf="selectedPhoneNumber().type === 'postpaid'">
                <div class="middleLeftComponent">
                    <div class="itemRow"> 
                        <div class ="BasePlanHeader"> Base Plan </div>
                            <div class ="BasePlanTitle"> {{getPlanName()}} </div>
                                <div class ="BasePlanDetail"> &middot; 5 GB data </div>
                                <div class ="BasePlanDetail"> &middot; 30 minutes of call to all networks </div>
                                <div class ="BasePlanDetail"> &middot; 100 text to all networks </div>
                        <div class ="BasePlanHeader"> Add-Ons </div>
                                <div class ="BasePlanDetail"> &middot; 200 MB Instagram Access </div>
                    </div>
                    <div class="itemRowCredit"> 
                        <div class ="headerDetail"> Credit Limit </div>
                        <div class ="DetailValue">
                            <div class ="EditCredit" (click)="editCreditLimit()"></div>
                            <div class ="CreditLimitValue"> P35,000.00 </div>                    
                        </div>                  
                    </div>
                 </div>
                 <div class="middleRightComponent">          
                    <div class="itemRow">
                        <div class="headerDetail">
                            <div class ="BillingCycle"> Billing Cycle </div>
                            <div class ="SmallText"> of the month </div>
                        </div>
                        <div class ="DetailValue"> 19th </div>
                    </div>
                    <div class="itemRow">
                        <div class ="headerDetail"> Auto Debit </div>
                        <div class ="DetailValue"> Not enrolled </div>
                    </div>
                    <div class="itemRow">
                        <div class ="headerDetail"> Contract Duration </div>
                        <div class ="DetailValue"> 24 months </div>
                    </div>
                    <div class="itemRow">
                        <div class ="headerDetail"> Activation Date </div>
                        <div class ="DetailValue"> 06-01-15 </div>
                    </div>
                    <div class="itemRow">
                        <div class ="headerDetail"> Contract End Date </div>
                        <div class ="DetailValue"> 15-04-15 </div>
                    </div>
                </div>
               <div class="footer-plan">
                    <div class="buttonRow">
                        <div class="button red" (click)="renewPlan()">Renew Plan</div>
                        <div class="button blue">Change Plan</div>
                    </div>
               </div>
               </div> 
               
               <div class="prepaid" *ngIf="selectedPhoneNumber().type === 'prepaid'">
                <div class="middleLeftComponent">
                    <div class="itemRow"> 
                        <div class ="BasePlanHeader"> Base Plan </div>
                            <div class ="BasePlanTitle"> Jump All Out P050 </div>
                                <div class ="BasePlanDetail"> &middot; 1.5 GB data </div>
                                <div class ="BasePlanDetail"> &middot; 30 minutes of call to all networks </div>
                                <div class ="BasePlanDetail"> &middot; 100 text to all networks </div>
                    </div>
                 </div>
                 <div class="middleRightComponent">          
                    <div class="itemRow">
                        <div class ="headerDetailPrePlan"> Activation Date </div>
                        <div class ="DetailValue"> 06-01-15 </div>
                    </div>
                    <div class="itemRow">
                        <div class ="headerDetailPrePlan"> Expiry Date </div>
                        <div class ="DetailValue"> 06-01-15 </div>
                    </div>
                </div>
               <div class="footer-plan">
                    <div class="buttonRow">
                        <div class="button blue">Change Plan</div>
                    </div>
               </div>
               </div>
               
            </div>          
        </div>
	</div>
    
	<div class="PlanContainerSmall" [ngClass]="{medium : getResize().mediumUp}" *ngIf="!getResize().largeUp">
        <div class="containerBody">
            <div id="hdrDropDown" class="myNumberContainer">
                <my-number *ngIf="numberSelectionState()"></my-number>
            </div>
            <div class="header"> My Plan </div>
            <div class="postpaid" *ngIf="selectedPhoneNumber().type === 'postpaid'">
            <div class="itemRow"> 
                <div class ="BasePlanHeader"> Base Plan </div>
                    <div class ="BasePlanTitle"> Surf Plus Plan 999 </div>
                        <div class ="BasePlanDetail"> &middot; 5 GB data </div>
                        <div class ="BasePlanDetail"> &middot; 30 minutes of call to all networks </div>
                        <div class ="BasePlanDetail"> &middot; 100 text to all networks </div>
                <div class ="BasePlanHeader"> Add-Ons </div>
                        <div class ="BasePlanDetail"> &middot; 200 MB Instagram Access </div>
            </div>
            <div class="itemRow Credit" (click)="editCreditLimit()"> 
                <div class ="headerDetail"> Credit Limit </div>
                <div class ="DetailValue">
                    <div class ="EditCredit"></div>
                    <div class ="CreditLimitValue"> P35,000.00 </div>                    
                </div>                  
            </div>
            <div class="itemRow">
                 <div class="headerDetail">
                    <div class ="BillingCycle"> Billing Cycle </div>
                    <div class ="SmallText"> of the month </div>
                 </div>
                <div class ="DetailValue"> 19th </div>
            </div>
            <div class="itemRow">
                <div class ="headerDetail"> Auto Debit </div>
                <div class ="DetailValue"> Not enrolled </div>
            </div>
            <div class="itemRow">
                <div class ="headerDetail"> Contract Duration </div>
                <div class ="DetailValue"> 24 months </div>
            </div>
            <div class="itemRow">
                <div class ="headerDetail"> Activation Date </div>
                <div class ="DetailValue"> 06-01-15 </div>
            </div>
            <div class="itemRow">
                <div class ="headerDetail"> Contract End Date </div>
                <div class ="DetailValue"> 15-04-15 </div>
            </div>
            <div class="buttonRow">
                <div class="button red" (click)="renewPlan()">Renew Plan</div>
                <div class="button blue">Change Plan</div>
            </div> 
            </div> 
            <div class="prepaid" *ngIf="selectedPhoneNumber().type === 'prepaid'">
            <div class="itemRow"> 
                <div class ="BasePlanHeader"> Base Plan </div>
                    <div class ="BasePlanTitle"> Jump All Out P50 </div>
                        <div class ="BasePlanDetail"> &middot; 1.5 GB data </div>
                        <div class ="BasePlanDetail"> &middot; 30 minutes of call to all networks </div>
                        <div class ="BasePlanDetail"> &middot; 100 text to all networks </div>
            </div>
            <div class="itemRow">
                <div class ="headerDetail"> Activation Date </div>
                <div class ="DetailValue"> 07-11-15 </div>
            </div>
            <div class="itemRow">
                <div class ="headerDetail"> Expiry Date </div>
                <div class ="DetailValue"> 07-12-15 </div>
            </div>
            <div class="buttonRow">
                <div class="button blue">Change Plan</div>
            </div> 
            </div>           
        </div>
	</div>
</div>

<!-- <div class="banner"></div> -->