<div class="smartBuyAddOnsDetailContainer" [ngClass]="{medium : getResize().mediumUp}" *ngIf="!getResize().largeUp">
    <div class="containerBody">
        <div class="categoryHeader">Add Ons</div>
        <div class="itemContainer" *ngFor="#el of list" (click)="toggleBuyAddOnsModal()">
            <div class="itemIcon internet">{{el.number}}</div>
            <div class="itemIdentifier">
                <div class="title">{{el.title}}</div>
                <div class="smallText">{{el.smallText}}</div>
            </div>
            <div class="itemValue">{{el.value}}</div>
        </div>
    </div>
</div>