<div class="smartEPinContainer" [ngClass]="{medium : getResize().mediumUp}" *ngIf="!getResize().largeUp">
    <div class="containerBody">
        <div class="header">
            <div class="void"></div>
            <div class="text">
                <div class="headerText">Get ePin</div>
                <div class="headerSubText">Purchase ePIN with your balance</div>
            </div>
        </div>
        <div class="itemCategory">
            <div class="option">
                <div class="first">
                    <div class="circle green">1</div> Fill in details</div>
                <div class="line"></div>
                <div class="second">
                    <div class="circle">2</div> Verification</div>
                <div class="line"></div>
                <div class="third">
                    <div class="circle">3</div> View ePin</div>
            </div>
        </div>
        <div>
            <div class="itemContainer">
                <div class="itemIdentifier game"></div>
                <select class="inputValue" aria-placeholder="Game">
                    <option value="1">Game</option>
                    <option value="2">Game Credit</option>
                </select>
            </div>
            <div class="itemContainer">
                <div class="itemIdentifier peso"></div>
                <select class="inputValue" aria-placeholder="Deniomination">
                    <option value="1">Denomination</option>
                    <option value="2">20000</option>
                </select>
            </div>
            <div class="itemFooterContainer">
                <div class="button" (click)="goToVerification()">Next</div>
            </div>
        </div>
    </div>
</div>
<!-- large view-->
<div class="smartEPinContainerLarge" *ngIf="getResize().largeUp">
    <div class="itemComponent">
        <div class="itemHeader">Get ePin</div>
        <!--edit number-->
        <div class="containerBody">
            <div class="itemCategory">
                <div class="option">
                    <div class="first">
                        <div class="circle green">1</div> Fill in details</div>
                    <div class="line"></div>
                    <div class="second">
                        <div class="circle">2</div> Verification</div>
                    <div class="line"></div>
                    <div class="third">
                        <div class="circle">3</div> View ePIN</div>
                </div>
            </div>
            <div>
                <div class="itemContainer">
                    <div class="itemIdentifier game"></div>
                    <select class="inputValue" aria-placeholder="Game">
                        <option value="1">Game</option>
                        <option value="2">Game Credit</option>
                    </select>
                </div>
                <div class="itemContainer">
                    <div class="itemIdentifier peso"></div>
                    <select class="inputValue" aria-placeholder="Deniomination">
                        <option value="1">Denomination</option>
                        <option value="2">20000</option>
                    </select>
                </div>
                <div class="itemFooterContainer">
                    <div class="button" (click)="goToVerification()">Next</div>
                </div>
            </div>
        </div>
    </div>
    <div class="bannerComponent">
        <div class="banner1"></div>
        <div class="banner2"></div>
    </div>
</div>
