<div class="smartMessageDetailContainer" [ngClass]="{medium : getResize().mediumUp}" *ngIf="!getResize().largeUp">
    <div class="containerBody">
        <div class="header">
            <div class="headerText">{{getMessage().title}}</div>
            <div class="headerSubText">{{getMessage().date}}</div>
        </div>
        <div class="itemContainer">
            <div class="itemText">{{getMessage().text}}</div>
        </div>
    </div>
</div>
<!-- large view-->
<div class="smartMessageDetailContainerLarge" *ngIf="getResize().largeUp">
    <div class="itemComponent">
        <div class="categoryHeader">Messages</div>
        <div class="itemContainer">
            <div class="itemIdentifier">
                <div class="itemTitle">
                    {{getMessage().title}}
                    <div class="date">{{getMessage().date}}</div>
                </div>
                <div class="ic_delete" (click)="promptDelete()"></div>
            </div>
            <div class="itemText">{{getMessage().text}}</div>
        </div>
    </div>
    <div class="bannerComponent">
        <div class="banner1"></div>
        <div class="banner2"></div>
    </div>
</div>
