<div class="modalBuyAddOnsContent">
    <div class="modalBody">
        <div class="itemHeader">Purchase Add Ons</div>
        <div class="itemTitle">Data Add On</div>
        <div class="itemSubTitle">Always On 499</div>
        <div class="itemRow">
            <div class="itemIcon message"></div>
            <div class="itemText">5 GB + Spinnr Streaming + Opera Max for 30 days</div>
        </div>
        <div class="itemRow">
            <div class="itemIcon note"></div>
            <div class="itemText">Payment will be deducted to your airtime load for prepaid or billed to your postpaid account.</div>
        </div>
        <div class="itemRow">
            <div class="itemIcon note"></div>
            <div class="itemText">At least 1 peso load must be maintained to enjoy the service</div>
        </div>
        <div class="itemRow">
            <div class="itemIcon note"></div>
            <div class="itemText">Mobile Number must be linked to My Smart account.</div>
        </div>
        <div class="itemRow">
            <div class="itemText price">Price: P499</div>
        </div>
    </div>
    <div class="modalFooter">
        <div class="button red" (click)="close()">Confirm &amp; Proceed</div>
    </div>
</div>
