<div class="modalRenewPlanContent">
    <div class="modalHeader">Renew your plan</div>
    <div class="modalBody">
        <div class="itemRow">
            <div class="itemHeader">Base Plan</div>
            <div class="itemPlanName">Surf Plus Plan 999</div>
            <div class="itemDetail">5 GB data</div>
            <div class="itemDetail">30 minutes of calls to all networks</div>
            <div class="itemDetail">100 text to all networks</div>
        </div>
        <div class="itemRow">
            <div class="itemHeader">Add-Ons</div>
            <div class="itemDetail">1 interchangeable monthly value added service</div>
        </div>
        <div class="itemRow">
            <div class="itemHeader">Contract Duration</div>
            <div class="itemDetail">24 months</div>
        </div>
        <div class="itemRow">
            <div class="itemHeader">New Expiration Date</div>
            <div class="itemDetail">15 April 2016</div>
        </div>
        <div class="itemRow">
            <div class="itemAmount">P999.00</div>
            <div class="itemAmountDetail">/month for 24 months</div>
        </div>	
    </div>
    <div class="modalFooter">
        <div class="button blue" (click)="cancelRenewPlan()">Cancel</div>	
        <div class="button red">Update</div>			
    </div>
</div>