$col-3-height: 340px;

.catalogListContainer {
    
    padding-bottom: 45px;
    z-index: 1;
    
    .containerBody{
        
        width: 100%;
        height: 100%;
        background-color: #FFF;
        
        .header{
            display: inline-block;
            width: calc(100% - 20px);
            padding: 10px;
            border-bottom: 1px solid $lightgray;
            position: fixed;
            background-color: $smartgreen; 
            
            .headerText{
                color: #fff;
                font-size: 20px;
                float: left;
            }
            
            .favourites{
                color: $smartred;
                font-size: 15px;
                line-height: 20px;
                float: right;
            }
            
        }
        
        .itemListContainer{
            margin-top: 41px;
            display: inline-block;
        
            .itemDetailContainer{
                display: inline-block;
                width: calc(100% - 20px);
                padding: 10px;
                min-height: 60px;
                border-bottom: 1px solid $lightgray;
                
                .itemPic{
                    float: left;
                    width: 80px;
                    height: 80px;
                    background-color: $lightgray;
                    
                    .overlay {
                        text-align: center;
                        margin-top: 75%;
                        border-radius: 3px;
                        color: #fff;
                        font-size: 12px;
                        display: inline-block;
                        width: 100%;

                        &.postpaid {
                            background-color: $smartblue;
                        }

                        &.prepaid {
                            background-color: $smartgreen;
                        }

                        &.bro {
                            background-color: $smartred;
                        }
                    }
                }
                
                .itemText{
                    float: left;
                    width: 50%;
                    min-height: 60px;
                    padding-left: 10px;
                    
                    .itemSubHeader{
                        color: $smartgreen;
                        font-size: 15px;
                    }
                    
                    .itemDesc{
                        color: $text-dark-gray;
                        font-size: 13px;
                    }
                    
                }
                
                .itemPoint{
                    display: inline-block;
                    width: calc(50% - 100px);
                    font-size: 20px;
                    text-align: right;
                    min-height: 50px;
                    color: $smartred;
                    font-weight: bold;
                    
                    span{
                        font-size: 10px;
                    }
                }

                .item-favorite {
                    text-align: right;
                    text-align: right;
                    padding-right: 5px;
                    font-size: 35px;
                    color: $gray;

                    &::after{
                        clear: both;
                        content: " ";
                    }

                    &.red {
                        color: $smartred;
                    }
                }

                .valid-until {
                    display: inline-block;
                    margin-top: 10px;

                    .label {
                        font-weight: bold;
                    }
                }
            }
        }
        
        
    }
    
}
