$col-3-height: 340px;
   
.catalogContainer{
    
    background-color: #FFF;
    
    .subHeader{
        display: inline-block;
        margin: 25px 10px 0px 10px;
        width: calc(100% - 20px);
   
        .leftHeader{
            display: table-cell;
            height: 21px;
            font-size: 21px;
            color: $smartgreen;
            float: left;
            vertical-align: bottom;
        }
        
        .subOption{
            display: table-cell;
            font-size: 15px;
            height: 21px;  
            color: black;
            cursor: pointer;
            float: right;
            vertical-align: bottom;
        }
        
    }
    
}

