$col-3-height: 340px;
   
.catalogContainer{
    
    background-color: #FFF;

    .banner {
        background: url(../img/catalog-banner.jpg) no-repeat;
        background-position: center center;
        height: 250px;
        background-size: 100%;

        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;

        .banner-text {
            text-align: right;
            color: #fff;
            background-color: rgba(255,255,255,0.3);
            display: inline-block;
            padding: 10px;

            .button {
                display: inline-block;
            }
        }
    }
    
    .subHeader{
        display: inline-block;
        margin: 25px 10px 0px 10px;
        width: calc(100% - 20px);
   
        .leftHeader{
            display: table-cell;
            height: 21px;
            font-size: 21px;
            color: $smartgreen;
            float: left;
            vertical-align: bottom;
        }
        
        .subOption{
            display: table-cell;
            font-size: 15px;
            height: 21px;  
            color: black;
            cursor: pointer;
            float: right;
            vertical-align: bottom;
        }
        
    }
    
}

