$col-3-height: 340px;

.catalogListContainer {
    
    padding-bottom: 45px;
    z-index: 1;
    
    .containerBody{
        
        width: 100%;
        height: 100%;
        background-color: #FFF;
        
        .header{
            display: inline-block;
            width: calc(100% - 20px);
            padding: 10px;
            border-bottom: 1px solid $lightgray;
            position: fixed;
            background-color: $smartgreen; 
            z-index: 10;
            
            .headerText{
                color: #fff;
                font-size: 20px;
                float: left;
            }
            
            .favourites{
                color: $smartred;
                font-size: 15px;
                line-height: 20px;
                float: right;
            }
            
        }
        
        .itemListContainer{
            margin-top: 41px;
            display: inline-block;
            -webkit-overflow-scrolling: touch;
        
            .itemDetailContainer{
                display: inline-block;
                width: calc(100% - 20px);
                padding: 10px;
                min-height: 60px;
                border-bottom: 1px solid $lightgray;
                
                .itemPic{
                    float: left;
                    width: 80px;
                    height: 80px;
                    position: relative;
                    z-index: 1;
            
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }

                    .overlay {
                        text-align: center;
                        //margin-top: 75%;
                        border-radius: 3px;
                        color: #fff;
                        font-size: 12px;
                        display: inline-block;
                        width: 100%;
                        position: absolute;
                        top: 75%;

                        &.postpaid {
                            background-color: $smartblue;
                        }

                        &.prepaid {
                            background-color: $smartgreen;
                        }

                        &.bro {
                            background-color: $smartred;
                        }
                    }
                }
                
                .itemText{
                    float: left;
                    width: 50%;
                    min-height: 60px;
                    padding-left: 10px;
                    
                    .itemSubHeader{
                        color: $smartgreen;
                        font-size: 15px;
                    }
                    
                    .itemDesc{
                        color: $text-dark-gray;
                        font-size: 13px;
                    }
                    
                }
                
                .itemPoint{
                    display: inline-block;
                    width: calc(50% - 100px);
                    font-size: 20px;
                    text-align: right;
                    min-height: 50px;
                    color: $smartred;
                    font-weight: bold;
                    
                    span{
                        font-size: 10px;
                    }
                }

                .item-favorite {
                    padding-right: 5px;

                    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBoZWlnaHQ9IjI1NiIgd2lkdGg9IjI1NiIgdmlld0JveD0iMCAwIDI1NiAyNTYiPg0KICA8Zz4NCiAgICA8cGF0aCBpZD0icGF0aDEiIHRyYW5zZm9ybT0icm90YXRlKDAsMTI4LDEyOCkgdHJhbnNsYXRlKDAsMTEuOTIxNDczNjk2OTM2MSkgc2NhbGUoOC4wMDEwMDA1Mjk0NzQ2Nyw4LjAwMTAwMDUyOTQ3NDY3KSAgIiBmaWxsPSIjODM4MzgzIiBkPSJNMTUuOTk3OTk5LDYuMjI1OTg0OUwxMy42OTAwMTQsMTMuMDMwMDA0IDYuMzc1MDA1NSwxMy4wMzAwMDQgMTIuMjkyOTc5LDE3LjE1MDAwMSAxMC4wMDI5OTksMjMuOTAxOTg2IDE1Ljk5Nzk5OSwxOS43Mjg5OCAyMS45OTMsMjMuOTAxOTg2IDE5LjcwMzAyLDE3LjE1MDAwMSAyNS42MjA5OTIsMTMuMDMwMDA0IDE4LjMwNTk4NCwxMy4wMzAwMDR6IE0xNS45OTc5OTksMEwxOS43Mzg5NywxMS4wMzAwMDMgMzEuOTk1OTk4LDExLjAzMDAwMyAyMi4wNzk5NzUsMTcuOTMxOTgzIDI1LjgzOTAxLDI5LjAxNjAwMiAxNS45OTc5OTksMjIuMTY1OTk0IDYuMTU2OTg3NCwyOS4wMTYwMDIgOS45MTU5NjI5LDE3LjkzMTk4MyAwLDExLjAzMDAwMyAxMi4yNTY5NjgsMTEuMDMwMDAzeiIgLz4NCiAgPC9nPg0KPC9zdmc+") no-repeat;
                    background-size: 30px;
                    background-position: center center;
                    display: inline-block;
                    height: 30px;
                    width: 30px;
                    float: right;

                    &::after{
                        clear: both;
                        content: " ";
                    }

                    &.red {
                        background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBoZWlnaHQ9IjI1NiIgd2lkdGg9IjI1NiIgdmlld0JveD0iMCAwIDI1NiAyNTYiPg0KICA8Zz4NCiAgICA8cGF0aCBpZD0icGF0aDEiIHRyYW5zZm9ybT0icm90YXRlKDAsMTI4LDEyOCkgdHJhbnNsYXRlKDEuNTk5OTk5OTk5OTk5OTksMS45OTQ5NzEzNzA2OTcwMikgc2NhbGUoNy45LDcuOSkgICIgZmlsbD0iI0YxNDc1NiIgZD0iTTE2LDBMMTkuOCwxMi4yMDAwMDMgMzIsMTIuMjAwMDAzIDIyLjEsMTkuNzAwMDA0IDI1LjksMzEuOTAwMDA3IDE2LDI0LjQwMDAwNSA2LjA5OTk5OTQsMzEuOTAwMDA3IDkuOTAwMDAwMSwxOS43MDAwMDQgMCwxMi4yMDAwMDMgMTIuMiwxMi4yMDAwMDN6IiAvPg0KICA8L2c+DQo8L3N2Zz4NCg==") no-repeat;
                        background-size: 30px;
                        background-position: center center;
                    }
                }

                .valid-until {
                    display: inline-block;
                    margin-top: 10px;
                    width: 100%;

                    .label {
                        font-weight: bold;
                    }
                }
            }
        }
        
        
    }
    
}
