$smartblue: #009CDE;
$smartgreen: rgb(80,179,48);
$lightgray: #F5F5F5;
$gray: #838383;
$smartred: #F14756;
$text-size: 90%;
$text-dark-gray: rgb(89,89,89);
$dark-gray: rgb(89,89,89);
$gray2: rgb(242,242,242);

body{
	// font-family: 'Roboto', sans-serif;
	// font-family: Futura, Arial, sans-serif;
	font-family: 'Roboto', sans-serif;
	// font-family: Helvetica, sans-serif;
	background-color: #FFF;
	margin: 0;
	padding: 0;
	font-size: 10.5pt;
	line-height: 1.1rem;
	height: 100%;
	width: 100%;
	// overflow: hidden;
}

a {
	text-decoration: none
}

#content{
	height: calc(100% - 50px);
	width: 100%;
	overflow-y: auto;
	margin-bottom: 50px;
}

.outer-box{
	background-color: $lightgray;
	padding: 10px;

	.inner-box{
		background-color: white;
		border: 1px solid $gray;
		padding: 20px;
	}
}

.backgroundImage{

	height: 100%;
    width: 100%;
    background: url(../img/homepage.jpg) no-repeat;
	//background-color: $smartblue;
    background-size: cover;
    position: absolute;
	z-index: 1;
	
	&.blur{
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px);
		-ms-filter: blur(5px);
		filter: blur(5px);
	}

}

.button {
	background-color: $smartblue;
	text-align: center;
	padding: 8px;
	clear: both;
	bottom: 0px;
	width: 200px;
	border-radius: 3px;

	a {
		color: white;
		display: inline-block;
		width: 100%;
		height: 100%;
	}
}