$containerLogin-height: 400px;


.containerNewPassSmall {
	z-index: 50;
	position: fixed;
    left: 0;
    right: 0;
	
	::-webkit-input-placeholder {
		color:    #FFF;
	}
	:-moz-placeholder {
		color:    #FFF;
	}
	::-moz-placeholder {
		color:    #FFF;
	}
	:-ms-input-placeholder {
		color:    #FFF;
	}

	.outer-box {
		
		background-color: rgba(0, 0, 0, 0);
		max-width : 320px;
		margin: 70px auto 0px;
		
		.header {
			color: #FFF;
			font-size: 28px;
			line-height: 40px;
			padding-right: 20px;
			margin-bottom: 10px;
		}
		
		.inner-box {
			
			background-color: rgba(0, 0, 0, 0);
			border: 0;
			text-align: center;
			padding: 0;
            
            .errorAlert{
                color:red;
                font-size:14px;
            }
            
			.button {
				width: 100%;
				margin: 20px auto 18px;
				cursor: pointer;
				background-color: transparent;
				border: 1px solid #FFF;
				padding-right: 0;
				padding-left: 0;
			}

			input {
				width: 100%;
				margin: 2px auto;
				padding-top: 5px;
				padding-bottom: 5px;
				display: block;
				height: $mainheigt - 22px;
				border: none;
				line-height: $mainheigt - 20px;
				font-size: medium;
				margin-bottom: 5px;
				background-color: rgba(0, 0, 0, 0);
				outline: 0;
				color : #FFF;
				
				&.borderbottom{
					border-bottom: 1px solid #FFF;
				}
				
				&.halfsize{
					width: 50%;
					float: left;
				}
				
			}
		}
	}

}