$col-3-height: 340px;

.overviewContainer {
    background-color: #FFF;
    
    .header{
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid $text-dark-gray;
        background: url(../img/shopping.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
        height: 140px;
        
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        
        .text{
            float: right;
            background-color: rgba(0,0,0,0.5);
            width: calc(50% - 20px);
            padding: 10px;
            height: 37px;
            text-align: right;
            
            .headerSubText{
                color: #FFF;
                font-size: 15px;
                line-height: 20px;
            }
        }
        
    }

    .subHeader{
        display: inline-block;
        margin: 15px 10px 10px 10px;
        width: calc(100% - 20px);
        cursor: pointer;
        
        &.belt{
            margin-bottom: 5px;
        }
   
        .leftHeader{
            display: table-cell;
            line-height: 30px;
            font-size: 21px;
            color: $smartgreen;
            float: left;
            vertical-align: bottom;
        }
        
        .subOption{
            display: table-cell;
            font-size: 15px;
            height: 21px;  
            color: black;
            cursor: pointer;
            float: right;
            vertical-align: bottom;
            line-height: 30px;
        }
        
        .next{
            height: 30px;
            width: 30px;
            float: right;
            background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBoZWlnaHQ9IjI1NiIgd2lkdGg9IjI1NiIgdmlld0JveD0iMCAwIDI1NiAyNTYiPg0KICA8Zz4NCiAgICA8cGF0aCBpZD0icGF0aDEiIHRyYW5zZm9ybT0icm90YXRlKDAsMTI4LDEyOCkgdHJhbnNsYXRlKDU4LjU4NzMxNzA4NTUwMDMsMS40MjEwODU0NzE1MjAyRS0xNCkgc2NhbGUoOC4wMDEwMDAwNTI1MTgyNiw4LjAwMTAwMDA1MjUxODI2KSAgIiBmaWxsPSIjODM4MzgzIiBkPSJNMS40MjAwNDgyLDBMMTcuMzUxMDAxLDE2LjA0Njk5NiAxLjQ5ODA1MTMsMzEuOTk2MDAxIDAuMDc4OTc5NjMxLDMwLjU4NTk5NyAxNC41MzEwNDYsMTYuMDQ2MDE5IDAsMS40MDg5OTY0eiIgLz4NCiAgPC9nPg0KPC9zdmc+") no-repeat;
            background-position-x: right;
            background-position-y: center;
            background-size: 20px;    
        }
        
    }
    
    .name{
        font-size: 15px;
        color: black;
        width: calc(100% - 10px);
        padding-left: 10px;
        padding-top: 10px;
        border-top: 1px solid #EEE;
        margin-bottom: 5px;
    }
    
    .phoneDetail{
        
        display: inline-block;
        width: calc(100% - 20px);
        padding-left: 10px;
        padding-right: 10px;
        color: $smartgreen;
        padding-bottom: 10px; 
        border-bottom: 1px solid #EEE;
        
        .phoneNo{
            float: left;
            font-size: 15px;
        }
        
        .phoneType{
            float: left;
            background-color: $smartgreen;
            height: 17px;
            width: 50px;
            color: #FFF;
            margin-left: 20px;
            font-size: 10px;
            border-radius: 5px;
            padding-left: 6px;
        }
        
        .numberType{
            float: right;
            font-size: 13px;
        }
    }
    
    .subInfoContainer{
        display: inline-block;
        width: calc(100% - 20px);
        height: 50px;
        padding: 5px 10px 5px 10px;
        border-bottom: 1px solid #EEE;
        
        .leftSide{
            float: left;
            height: 50px;
            
            .balance{
                height: 18px;
                margin-top: 5px;
                color: black;
                font-size: 15px;
            }
            .expire{
                color: $gray;
                font-size: 13px;
            }    
        }
        .rightSide{
            float: right;

            line-height: 30px;
            
            .text{
                float: right;
                display: flex;
                align-items: center; // align vertical 
                justify-content: center; // align horizontal
                height: 50px;
                font-size: 25px;
                font-weight: bold;
                color: $smartred;
                span{
                    margin-top: 5px;
                    margin-left: 2px;
                    font-size: 15px;
                    font-weight: normal;
                }
            }
            
        }
    }
    

    
    
}