<div class="accountOverviewContainer" [ngClass]="{medium : getResize().mediumUp}" *ngIf="!getResize().largeUp">
    <div class="containerBody">
        <div class="header">Account Overview</div>
        <div class="subHeader">
            <div class="name">Tiffany</div>
            <div class="phoneDetail">
                <div class="phoneNo">092898874081</div>
                <div class="numberType">Postpaid</div>
            </div>
            <div class="subInfoContainer">
                <div class="leftSide">
                    <div class="balance">Point Balance</div>
                    <div class="expire">First points expire on 31-12</div>
                </div>
                <div class="rightSide">
                    <div class="text">1010 <span>pts</span></div>
                </div>    
            </div>
        </div>
        <div class="infoHeader">Latest Transaction</div>
        <div class="itemBox">
            <div class="itemHeader">Redemption</div>
            <div class="itemInfoLine">
                <div class="itemInfoIdentifier">The Body Shop P100 Treat</div>
                <div class="itemInfoPoint">-200 <span>pts</span></div>
            </div>
            <div class="itemAddInfo">2 item(s) to 09186859935</div>
            <div class="itemDateInfo">
                <div class="itemDate">On March 14, 2016</div>
                <div class="itemBuyVia">via Smart Reward App</div>
            </div>
        </div>
        <div class="itemBox">
            <div class="itemHeader">Earning</div>
            <div class="itemInfoLine">
                <div class="itemInfoIdentifier">Earned Points</div>
                <div class="itemInfoPoint">100 <span>pts</span></div>
            </div>
            <div class="itemAddInfo">Buy Add Ons for 09320133865</div>
            <div class="itemDateInfo">
                <div class="itemDate">On March 14, 2016</div>
                <div class="itemBuyVia">via Smart Reward App</div>
            </div>
        </div>
        <div class="buttonContainer">
            <div class="button">View Details In Transaction History</div>
    </div>
</div>