<div class="manageNumberContainer" [ngClass]="{medium : getResize().mediumUp}" *ngIf="!getResize().largeUp">
    
    <!--edit number-->
    <div class="containerBody">
        <div class="itemCategory">
            <div class="text">Manage My Number</div>
        </div>
        <div class="itemContainer">
            <div class="itemIdentifier namePic"></div>
            <div class="inputValue shorter" *ngIf="!editNumber.edit">{{selectedPhoneNumber.name}}</div>
            <input class="inputValue" placeholder="Nick name" [(ngModel)]="selectedPhoneNumber.name" *ngIf="editNumber.edit"/>
            <div class="itemIdentifier edit" *ngIf="!editNumber.edit" (click)="editable()"></div>
        </div>
        <div class="itemContainer">
            <div class="itemIdentifier phone"></div>
            <div class="inputValue">{{selectedPhoneNumber.number}}</div>
        </div>
        <!--<div class="itemInfoContainer">
            <div class="primaryBox">
                <div class="phoneType">PRIMARY</div>
            </div>
            <div class="primaryText">This number is set as primary number</div>
            <div class="primaryText link">Set this number as primary</div>
        </div>-->
        <div class="itemFooterContainer">
            <div class="buttonContainer">
                <div class="button green">Remove</div>
                <div class="button" [ngClass]="{red : editNumber.edit}" (click)="doEditNumber()">Update</div>
            </div>
        </div>
    </div>
    
</div>
<div class="ModalOuterBox" *ngIf="modalSuccess">
	<div class="ModalInternal">
        <div class="modalInformationContent">
            <div class="modalBody">
                <div class="itemRow">
                    <div class="itemDetail"><span>{{selectedPhoneNumber.number}} </span>has been updated</div>
                </div>		
            </div>
            <div class="modalFooter">
                <div class="button red" (click)="close()">OK</div>			
            </div>
        </div>
	</div>
</div>