<div class="manageNumberContainer" [ngClass]="{medium : getResize().mediumUp}" *ngIf="!getResize().largeUp">
    
    <!--main page-->
    <div class="containerBody" *ngIf="!(addNumber.page || editNumber.page)">
        <div class="header">
            <div class="text">
                <div class="headerText">Manage My Numbers</div>
                <div class="headerSubText">Connect your numbers to enable you use your points together</div>
            </div>
        </div>
        <div *ngFor="#phone of userPhoneNumber" class="itemContainer" (click)="toggleEditNumber(phone)">
            <div class="name">{{phone.name}}</div>
            <div class="phoneDetail">
                <div class="phoneNo">{{phone.number}}</div>
                <!--<div class="phoneType" *ngIf="phone.primary">PRIMARY</div>-->
                <div class="numberType">{{phone.type}}</div>
            </div>
        </div>
        <div class="itemFooterContainer">
            <div class="button" (click)="toggleAddNumber()">Add new number</div>
        </div>
    </div>
    
    <!--edit number-->
    <div class="containerBody" *ngIf="editNumber.page">
        <div class="itemCategory">
            <div class="text">Manage My Number</div>
        </div>
        <div class="itemContainer">
            <div class="itemIdentifier namePic"></div>
            <div class="inputValue shorter" *ngIf="!editNumber.edit">{{selectedPhoneNumber.name}}</div>
            <input class="inputValue" placeholder="Nick name" [(ngModel)]="selectedPhoneNumber.name" *ngIf="editNumber.edit"/>
            <div class="itemIdentifier edit" *ngIf="!editNumber.edit" (click)="editable()"></div>
        </div>
        <div class="itemContainer">
            <div class="itemIdentifier phone"></div>
            <div class="inputValue">{{selectedPhoneNumber.number}}</div>
        </div>
        <!--<div class="itemInfoContainer">
            <div class="primaryBox">
                <div class="phoneType">PRIMARY</div>
            </div>
            <div class="primaryText">This number is set as primary number</div>
            <div class="primaryText link">Set this number as primary</div>
        </div>-->
        <div class="itemFooterContainer">
            <div class="buttonContainer">
                <div class="button green">Remove</div>
                <div class="button" [ngClass]="{red : editNumber.edit}" (click)="doEditNumber()">Update</div>
            </div>
        </div>
    </div>
    
</div>
<div class="ModalOuterBox" *ngIf="modalSuccess">
	<div class="ModalInternal">
        <div class="modalInformationContent">
            <div class="modalBody">
                <div class="itemRow" *ngIf="addNumber.page">
                    <div class="itemDetail"><span>{{mobileNumber}} </span>has been added to your account</div>
                </div>	
                <div class="itemRow" *ngIf="editNumber.page">
                    <div class="itemDetail"><span>{{selectedPhoneNumber.number}} </span>has been updated</div>
                </div>		
            </div>
            <div class="modalFooter">
                <div class="button red" (click)="close()">OK</div>			
            </div>
        </div>
	</div>
</div>