.smartLeftMenu{
    float: left;
    position: relative;
    left: 816px;
    width: 204px;
    background-color: #FFF;
    
    .header{
        float: left;
        width: calc(100% - 10px);
        padding-left: 5px;
        padding-right: 5px;
        border-bottom: 1px solid #EEE;
        color: $smartgreen;
        font-size: 20px;
        height: 40px;
        line-height: 40px;
    }
    
    .numberContainer{
        float: left;
        width: calc(100% - 20px);
        padding: 10px;
        border-bottom: 1px solid #EEE;
        
        &.primary{
            background-color: $smartgreen;
        }
        
        .upperContainer{
            
            display: inline-block;
            width: 100%;
            
            .name{
                float: left;
                color: $smartgreen;
                
                &.primary{
                    color: #FFF;
                }
                
            }
            
            .primaryBox{
                float: right;
                color: #FFF;
                border: 1px solid #FFF;
                font-size: 10px;
                border-radius: 5px;
                width: 50px;
                text-align: center;
            }
            
        }
        
        .buttomContainer{
            
            display: inline-block;
            width: 100%;
            
            .phoneNo{
                float: left;
                color: $text-dark-gray;
                
                &.primary{
                    color: #FFF;
                }
                
            }
            
            .type{
                float: right;
                color: $text-dark-gray;
                
                &.primary{
                    color: #FFF;
                }
            }
            
        }
        
    }
    
    .dividerLine{
        float: left;
        //height: 4px;
        width: calc(100% - 10px);
        padding-left: 5px;
        padding-right: 5px;
        border-bottom: 4px solid #EEE;
    }
    
    .menuContainer{
        float: left;
        width: 100%;
        
        .menuItem{
            float: left;
            width: calc(100% - 10px);
            padding-left: 5px;
            padding-right: 5px;
            background-color: $lightgray;
            height: 40px;
            color: $smartgreen;
            cursor: pointer;
            
            &:hover{
                background-color: $smartgreen;
            }
            
            &.selected{
                background-color: $smartgreen;
                color: #FFF;
            }
            
            &.member{
                background-color: #FFF;
                
                &:hover{
                    background-color: $smartgreen;
                }
                
                &.selected{
                    background-color: $smartgreen;
                    color: #FFF;
                }
                
            }
            
            .arrow{
                float: right;
                margin-right: 10px;
                width: 20px;
                height: 40px;
                background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBoZWlnaHQ9IjI1NiIgd2lkdGg9IjI1NiIgdmlld0JveD0iMCAwIDI1NiAyNTYiPg0KICA8Zz4NCiAgICA8cGF0aCBpZD0icGF0aDEiIHRyYW5zZm9ybT0icm90YXRlKDAsMTI4LDEyOCkgdHJhbnNsYXRlKDEsNTkuMTI5NjA3MTM1OTk3NSkgc2NhbGUoNy45Mzg0OTI3MTI4MzgxNSw3LjkzODQ5MjcxMjgzODE1KSAgIiBmaWxsPSIjODM4MzgzIiBkPSJNMzAuNTg3OTE1LDBMMzEuOTk1OTk4LDEuNDE5OTg0MiAxNS45NDk5NjQsMTcuMzUxIDAsMS40OTc5ODczIDEuNDA5OTEzMSwwLjA3ODk3OTE1MSAxNS45NDk5NjQsMTQuNTMxMDJ6IiAvPg0KICA8L2c+DQo8L3N2Zz4=") no-repeat;
                background-position-x: center;
                background-position-y: center;
                background-size: 20px;
                
                &.open{
                    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBoZWlnaHQ9IjI1NiIgd2lkdGg9IjI1NiIgdmlld0JveD0iMCAwIDI1NiAyNTYiPg0KICA8Zz4NCiAgICA8cGF0aCBpZD0icGF0aDEiIHRyYW5zZm9ybT0icm90YXRlKDAsMTI4LDEyOCkgdHJhbnNsYXRlKDEsNTkuMTI3NDU1NzgyMjM4Mykgc2NhbGUoNy45Mzg3NDA2OTMyMTczNyw3LjkzODc0MDY5MzIxNzM3KSAgIiBmaWxsPSIjODM4MzgzIiBkPSJNMTYuMDQ2OTk5LDBMMzEuOTk0OTk4LDE1Ljg1Mzk5MSAzMC41ODUwODYsMTcuMjcyOTk3IDE2LjA0NjAyMiwyLjgyMDAwNTEgMS40MDkwNTc2LDE3LjM1MSAwLDE1LjkzMTk5NHoiIC8+DQogIDwvZz4NCjwvc3ZnPg==") no-repeat;
                    background-position-x: center;
                    background-position-y: center;
                    background-size: 20px;
                }
                
            }
            
            .text{
                font-size: 15px;
                line-height: 40px;
                float: left;
                
                &:hover{
                    color: #FFF;
                }
                
            }
            
        }
        
        .filterBox{
            float: left;
            width: 100%;

            .search-container {
                text-align: center;
                margin-top: 20px;

                .search {
                    width: 80%;
                    height: 35px;
                    text-align: center;
                    background-color: $smartgreen;
                    border: 1px solid white;
                    border-radius: 5px;
                    color: #fff;

                    &:placeholder-shown {
                        color: $gray2;
                    }
                    &::-webkit-input-placeholder {
                        color: $gray2;
                    }
                }
            }
            
            .sliderTitle{
                margin-left: 10px;
                color: $text-dark-gray;
                font-weight: bold;
                margin-top: 20px;
                margin-bottom: 10px;
            }           

            .sliderBox{
                width: calc(100% - 50px);
                padding: 30px 10px 10px 10px;
                height: 30px;
                float: left;

                .slider-container {
                    float: left;
                    width: calc(100%);

                    .slider {
                        width: 100%;
                        display: inline-block;
                        margin: 0 10px;

                        &.noUi-horizontal {
                            height: 6px;

                            .noUi-handle {
                                background: $smartred;  
                                width: 22px; 
                                height: 22px; 
                                border: 1px solid $text-dark-gray;
                                border-radius: 16px; 
                                box-shadow: none;
                                left: -10px;
                                top: -10px;

                                &:before {
                                    display: none;
                                }

                                &:after {
                                    display: none;
                                }

                                .noUi-tooltip {
                                    position: absolute;
                                    color: $text-dark-gray;
                                    top: -20px;
                                    width: 30px;
                                    text-align: center;
                                    left: -5px;
                                }
                            }
                        }

                        &.noUi-target {
                            border: 1px solid $text-dark-gray;
                            box-shadow: none;
                        }

                        &.noUi-background {
                            background: #FFF;
                            box-shadow: none;
                        }

                        .noUi-background {
                            background: #FFF;
                            box-shadow: none;
                        }

                        .noUi-connect {
                            background: $smartred;
                            box-shadow: none;
                        }
                    }
                }

                .pointSlider{
                    width: calc(100% - 82px);
                    padding: 30px 10px 10px 10px;
                    height: 30px;
                    margin-top: 10px;
                    float: left;

                    // border: 1px solid white;
                    .bar{
                        height: 4px;
                        // background-color: #FFF;
                        // margin-top: 10px;
                        position: relative;
                        width: 100%;
                        border-radius: 3px;
                        border: 1px solid #FFF;

                        &.selected{
                            position: absolute;
                            background: #FFF;
                            border: 0px; 
                        }

                        .pointer{
                            position: absolute;
                            margin: -10px;
                            padding: 7px;
                            width: 6px;
                            height:6px;
                            border-radius: 12px;
                            background-color: $smartred;
                            border: 1px solid #FFF;

                        }

                        .label{
                            font-size: 11px;
                            top: -28px;
                            position: absolute;
                            color: #FFF;
                            // white-space: nowrap;
                        }
                        .label2{
                            font-size: 11px;
                            top: -28px;
                            position: absolute;
                            color: #FFF;
                            // white-space: nowrap;
                        }
                    }
                }
            }

            .categoryBox{
                width: 100%;

                .title{
                    margin-left: 10px;
                    color: $text-dark-gray;
                    font-weight: bold;
                }
                .options{
                    ul{
                        list-style-type: none;
                        margin:10px 10px 20px;
                        padding: 0;

                        li{
                            color: $text-dark-gray;
                            height: 30px;
                            display: inline-block;
                            align-items: center;
                            line-height: 30px;
                            // align-items: center; // align vertical 
                            width: 100%;


                            ul{
                                display: block;
                                list-style-type: none;
                                width: 100%;
                                // margin-left:30px;
                                    margin: 0 0 10px 15px;
                                padding-left: 15px;
                                border-left: 1px $text-dark-gray solid;
                                
                                li{
                                    color: $text-dark-gray;
                                    height: 30px;
                                    display: inline-block;
                                    align-items: center;
                                    line-height: 30px;
                                    // align-items: center; // align vertical 
                                    width: 100%;

                                }
                            }
                        }

                        &::after{
                            clear: both;
                            content: " ";
                        }
                    }
                    
                    .check{
                        width: 0;
                        height: 0;
                        display: block;
                        margin: 5px 27px 5px 5px;
                        float: left;

                        &:before {
                            display: block;
                            border-radius: 5px;
                            border: 1px solid $text-dark-gray;
                            float: left;

                            content:"";
                            display:inline-block;
                            width: 20px;
                            height: 20px;
                            background-size: 12px;
                            background-color: #FFF;
                            border-radius: 5px;
                        }

                        &:checked {
                            &:before {
                                background-color: $smartred;
                                content: '✓';
                                color: white;
                                text-align: center;
                                font-size: 22px;
                                line-height: 21px;
                            }
                        }

                        &.active{
                            background-color: $smartred;
                        }

                        &:focus {
                            outline: none
                        }
                    }

                    .txt{
                        width: calc(100% - 30px);
                    }
                }
            }
        }
    }
    
}