<div class="modalBalanceContent">
    <div class="modalBody" *ngIf="getBalanceModalStatus().PrevBillDesc">
        <div class="header">
         Previous Bill Balance   
        </div>
        <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="button red" (click)="closePrevBill()">OK</div>						
    </div>
    <div class="modalBody" *ngIf="getBalanceModalStatus().CurrBillDesc">
        <div class="header">
         Current Bill Charges   
        </div>
        <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="button red" (click)="closeCurrBill()">OK</div>				
    </div>
    <div class="modalBody" *ngIf="getBalanceModalStatus().AmountDueDesc">
        <div class="header">
         Total Amount Due   
        </div>
        <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="button red" (click)="closeAmountDue()">OK</div>				
    </div>
    <div class="modalBody" *ngIf="getBalanceModalStatus().PaymentDueDesc">
        <div class="header">
         Payment Due Date  
        </div>
        <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="button red" (click)="closePaymentDue()">OK</div>				
    </div>
    <div class="modalBody" *ngIf="getBalanceModalStatus().MinDueDesc">
        <div class="header">
        Minimum Amount Due  
        </div>
        <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="button red" (click)="closeMinDue()">OK</div>				
    </div>
    <div class="modalBody" *ngIf="getBalanceModalStatus().UnbilledUsageDesc">
        <div class="header">
         Unbilled Usage   
        </div>
        <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="button red" (click)="closeUnbilledUsage()">OK</div>				
    </div>
    <div class="modalBody" *ngIf="getBalanceModalStatus().LoadBalDesc">
        <div class="header">
         Load Balance  
        </div>
        <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="button red" (click)="closeLoadBal()">OK</div>				
    </div>
    <div class="modalBody" *ngIf="getBalanceModalStatus().CurBillChargeDesc">
        <div class="header">
         Current Bill Charges  
        </div>
        <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="button red" (click)="closeCurBillCharge()">OK</div>				
    </div>
</div>