<div class="headerLarge">
    <div class="segment" id="hdrsegment">
        <ul>
            <li><a class="active" href="/">Consumer</a></li>
            <li><a href="/">Business</a></li>
        </ul>
    </div>
    <div class="main" id="hdrmain">
        <div class="box">
            <a class="logo"></a>
            <ul>
                <li><a>Shop</a></li>
                <li><a>Explore</a></li>
                <li><a>Support</a></li>
            </ul>
            <div class="right">
                <ul>
                    <li><a>My Smart</a></li>
                </ul>
                <input placeholder="Search" />
            </div>
        </div>
    </div>
</div>
