<div class="footerMenu" *ngIf="getLayout().appFooter && !getResize().largeUp" *ngIf="getAppLayout().reward">
    <div class="column" (click)="gotoHome()">
        <div class="home" [ngClass]="{ active : getFooterState().home}"></div>
        <div class="text" [ngClass]="{ active : getFooterState().home}">Home</div>
    </div>
    <div class="column" (click)="gotoPerks()">
        <div class="perks" [ngClass]="{ active : getFooterState().perks}"></div>
        <div class="text" [ngClass]="{ active : getFooterState().perks}">Deals</div>
    </div>
    <div class="column" (click)="gotoCatalog()">
        <div class="catalog" [ngClass]="{ active : getFooterState().catalog}"></div>
        <div class="text" [ngClass]="{ active : getFooterState().catalog}">Catalog</div>
    </div>
    <div class="column" (click)="gotoPayBill()">
        <div class="paybill" [ngClass]="{ active : getFooterState().paybill}"></div>
        <div class="text" [ngClass]="{ active : getFooterState().paybill}">Pay w/point</div>
    </div>
    <div class="column" (click)="gotoTransfer()">
        <div class="transfer" [ngClass]="{ active : getFooterState().transfer}"></div>
        <div class="text" [ngClass]="{ active : getFooterState().transfer}">Transfer</div>
    </div>
</div>
<div class="footerMenu" *ngIf="getLayout().appFooter && !getResize().largeUp" *ngIf="getAppLayout().smart">
    <div class="column">
        <div class="home" [ngClass]="{ active : getFooterState().home}"></div>
        <div class="text" [ngClass]="{ active : getFooterState().home}">Home</div>
    </div>
    <div class="column">
        <div class="addon" [ngClass]="{ active : getFooterState().perks}"></div>
        <div class="text" [ngClass]="{ active : getFooterState().perks}">Buy Add-Ons</div>
    </div>
    <div class="column">
        <div class="catalog" [ngClass]="{ active : getFooterState().catalog}"></div>
        <div class="text" [ngClass]="{ active : getFooterState().catalog}">Bill & Balance</div>
    </div>
    <div class="column">
        <div class="message" [ngClass]="{ active : getFooterState().paybill}"></div>
        <div class="text" [ngClass]="{ active : getFooterState().paybill}">Messages</div>
    </div>
    <div class="column">
        <div class="transfer" [ngClass]="{ active : getFooterState().transfer}"></div>
        <div class="text" [ngClass]="{ active : getFooterState().transfer}">Plan Details</div>
    </div>
</div>

