<div class="headerSmall" [ngClass]="{openSearch : filterFunction}" *ngIf="getLayout().appHeader">
	<div class="mainBox">
        <div class="defaultBox">
            <div class="hamburger" *ngIf="getHeaderLayout().hamburger" (click)="toggleLeftMenu()"></div>
            <div class="back" *ngIf="getHeaderLayout().back" (click)="goToPreviousPage()"></div>
            <div class="logo"></div>
        </div>
    </div>
</div>
<div class="headerContainer" *ngIf="getLayout().loginHeader">
	<div class="headerLogin">
		<div class="backArrow" (click)="goToPreviousPage()"></div>
	</div>
</div>
