<div class="leftmenuContainer" [ngClass]="{active : getLeftMenuState()}" *ngIf="getAppLayout().reward">
    <div class="menuHeader">
        <circular-spinner *ngIf="getSpinnerStatus()" [color]="'white'"></circular-spinner>
        <div *ngIf="!getSpinnerStatus()">
            <div class="menuPic"></div>
            <div class="menuHeaderText">
                <div class="smartPic">
                    <div class="picture"></div>
                    <div class="text">Rewards</div>
                </div>
                <div class="smartPoint">{{ getRewardsBalance().rewards }} <span>pts</span></div>
            </div>
            <div class="expiry">{{getRewardsBalance().expPoints}} pts expire on {{getRewardsBalance().expDate}}</div>
        </div>
        <select class="phoneNumber">
            <option *ngFor="#phone of getListOfPhone()">+63{{ phone.phoneNo }}</option>
        </select>
    </div>
    <div class="menuItemBox">
        <div class="itemCategory click" (click)="goToMySmart()" *ngIf="isOnApp()">
            Go to My Smart
            <div class="arrow"></div>
        </div>
        <div class="itemCategory">Rewards Overview</div>
        <div class="itemMenu" (click)="gotoAccountOverview()">
            <div class="text">Account Overview</div>
            <div class="arrow"></div>
        </div>
        <div class="itemMenu" (click)="gotoActivityHistory()">
            <div class="text">Activity History</div>
            <div class="arrow"></div>
        </div>
        <div class="itemCategory">Rewards Account Setting</div>
        <div class="itemMenu" (click)="gotoProfile()">
            <div class="text">My Reward Profile</div>
            <div class="arrow"></div>
        </div>
        <div class="itemMenu" (click)="gotoManageNumber()">
            <div class="text"> Manage My Numbers</div>
            <div class="arrow"></div>
        </div>
        <div class="itemCategory">Links</div>
        <div class="itemMenu">
            <div class="text">Go to MySmart</div>
            <div class="arrow"></div>
        </div>
        <div class="itemMenu">
            <div class="text">Go to Smart Life</div>
            <div class="arrow"></div>
        </div>
        <div class="itemMenu">
            <div class="text">About Rewards</div>
            <div class="arrow"></div>
        </div>
        <div class="itemMenu">
            <div class="text">Help & FAQ</div>
            <div class="arrow"></div>
        </div>
        <div class="itemCategory click" (click)="logout()">
            Logout
            <div class="arrow"></div>
        </div>
    </div>
</div>
<div class="leftmenuContainer" [ngClass]="{active : getLeftMenuState()}" *ngIf="getAppLayout().smart">
    <div class="menuHeader">
        <circular-spinner *ngIf="getSpinnerStatus()" [color]="'white'"></circular-spinner>
        <div *ngIf="!getSpinnerStatus()">
            <div class="menuPic"></div>
            <div class="menuHeaderText">
                <div class="smartPic">
                    <div class="picture"></div>
                </div>
            </div>
        </div>
        <select class="phoneNumber">
            <option *ngFor="#phone of getListOfPhone()">+63{{ phone.phoneNo }}</option>
        </select>
    </div>
    <div class="menuItemBox">
        <div class="itemCategory click" (click)="goToMyReward()" *ngIf="isOnApp()">
            Go to My Rewards
            <div class="arrow"></div>
        </div>
        <div class="itemCategory">Account Setting</div>
        <div class="itemMenu" (click)="gotoManageNumber()">
            <div class="text"> Manage Number</div>
            <div class="arrow"></div>
        </div>
        <div class="itemMenu" (click)="gotoProfile()">
            <div class="text">Complete Profile</div>
            <div class="arrow"></div>
        </div>
        <div class="itemMenu">
            <div class="text">Change Password</div>
            <div class="arrow"></div>
        </div>
        <div class="itemMenu">
            <div class="text">Bill Setting</div>
            <div class="arrow"></div>
        </div>
        <div class="itemCategory">Activity History</div>
        <div class="itemMenu">
            <div class="text">Past Activity</div>
            <div class="arrow"></div>
        </div>
        <div class="itemMenu">
            <div class="text">View Usage</div>
            <div class="arrow"></div>
        </div>
        <div class="itemMenu">
            <div class="text">Past Bills</div>
            <div class="arrow"></div>
        </div>
        <div class="itemCategory">Account Service</div>
        <div class="itemMenu">
            <div class="text">Sign Up for Newsletter</div>
            <div class="arrow"></div>
        </div>
        <div class="itemMenu">
            <div class="text">View PUK</div>
            <div class="arrow"></div>
        </div>
        <div class="itemMenu">
            <div class="text">Get ePin</div>
            <div class="arrow"></div>
        </div>
        <div class="itemMenu">
            <div class="text">Activate International Roaming</div>
            <div class="arrow"></div>
        </div>
        <div class="itemCategory click">
            Pasaload
            <div class="arrow"></div>
        </div>
        <div class="itemCategory">Links</div>
        <div class="itemMenu">
            <div class="text">Go to MyRewards</div>
            <div class="arrow"></div>
        </div>
        <div class="itemMenu">
            <div class="text">Go to Smart Life</div>
            <div class="arrow"></div>
        </div>
        <div class="itemMenu">
            <div class="text">About Rewards</div>
            <div class="arrow"></div>
        </div>
        <div class="itemMenu">
            <div class="text">Help & FAQ</div>
            <div class="arrow"></div>
        </div>
        <div class="itemMenu">
            <div class="text">About Rewards</div>
            <div class="arrow"></div>
        </div>
        <div class="itemCategory click" (click)="logout()">
            Logout
            <div class="arrow"></div>
        </div>
    </div>
</div>
<div class="leftmenuOther" *ngIf="getLeftMenuState()" (click)="toggleLeftMenu()"></div>
