<div class="smartLeftMenu">
    <div class="header">My Numbers</div>
    <div class="numberContainer primary">
        <div class="upperContainer">
            <div class="name primary">Tiffany</div>
            <div class="primaryBox">PRIMARY</div>
        </div>
        <div class="buttomContainer">
            <div class="phoneNo primary">09298874801</div>
            <div class="type primary">Postpaid</div>
        </div>
    </div>
    <div class="numberContainer">
        <div class="upperContainer">
            <div class="name">Tamara</div>
            <div class="primaryBox">PRIMARY</div>
        </div>
        <div class="buttomContainer">
            <div class="phoneNo">092898874999</div>
            <div class="type">Prepaid</div>
        </div>
    </div>
    <div class="dividerLine"></div>
    <div class="menuContainer">
        <div *ngIf="isSmartApp()">
            <div class="menuItem">
                <div class="text">Number Details</div>
                <div class="arrow"></div>  
            </div>
            <div class="menuItem">
                <div class="text">Messages (3)</div>
            </div>
            <div class="menuItem">
                <div class="text">Billing Details</div>
                <div class="arrow"></div>
            </div>
            <div class="menuItem">
                <div class="text">Pasa Load</div>
            </div>
            <div class="menuItem">
                <div class="text">Get ePin</div>
            </div>
        </div>
        <div *ngIf="isRewardApp()">
            <div class="menuItem" (click)="toggleRedeemPoints()">
                <div class="text">Redeem Points</div>
                <div class="arrow"></div>  
            </div>
            <div *ngIf="getRewardApp().redeemPoint">
                <div class="menuItem member" (click)="goToDeals()">
                    <div class="text">Get Exclusive Deals</div>
                    <div class="arrow"></div>  
                </div>
                <div class="menuItem member" (click)="goToCatalog()">
                    <div class="text">Redeem Catalog</div>
                    <div class="arrow"></div>  
                </div>
                <div class="menuItem member">
                    <div class="text">Filter Catalog</div>
                    <div class="arrow"></div>  
                </div>
            </div>
            <div class="menuItem" (click)="goToPayBill()">
                <div class="text">Pay Bill with Points</div>
            </div>
            <div class="menuItem" (click)="goToTransfer()">
                <div class="text">Transfer Points</div>
                <div class="arrow"></div>
            </div>
            <div class="menuItem" (click)="goToActivityHistory()">
                <div class="text">Rewards Activity History</div>
            </div>
        </div>
        <div class="menuItem">
            <div class="text">More Smart</div>
            <div class="arrow"></div>
        </div>
    </div>
</div>