
<div class="catalogContainer">
    <div class="banner">
        <div class="banner-text">
            <h2>
                Pay Smart or PLDT bill with your points here
            </h2>
            <a class="button">
                Pay Bill with Points
            </a>
        </div>
    </div>
    <div class="subHeader">
        <div class="leftHeader">Most Popular</div>
        <div class="subOption" (click)="openDetailPage('Most Popular')">See All</div>
    </div>
    <item-belt></item-belt>
    <div class="subHeader">
        <div class="leftHeader">All Categories</div>
        <div class="subOption" (click)="openDetailPage('All Categories')">See All</div>
    </div>
    <item-belt></item-belt>
    <div class="subHeader">
        <div class="leftHeader">Lifestyle</div>
        <div class="subOption" (click)="openDetailPage('Lifestyle')">See All</div>
    </div>
    <item-belt></item-belt>
    <div class="subHeader">
        <div class="leftHeader">Mobile</div>
        <div class="subOption" (click)="openDetailPage('Mobile')">See All</div>
    </div>
    <item-belt></item-belt>
</div>


<!-- <div class="banner"></div> -->
