<div class="catalogListContainer" [ngClass]="{medium : getResize().mediumUp}" *ngIf="!getResize().largeUp">
    <div class="containerBody">
        <div class="header">
            <div class="headerText">{{getCatalogListTitle()}}</div>
        </div>
        <div class="itemListContainer">
            <div *ngFor="#catalog of getCatalogs()"
                (click)="openCatalogDisplay(catalog)"
                class="itemDetailContainer">
                <div class="itemPic">
                    <div class="overlay"
                        [class.postpaid]="catalog.isPostpaid()"
                        [class.prepaid]="catalog.isPrepaid()"
                        [class.bro]="catalog.isBroPrepaid() || catalog.isBroPostpaid()">
                        {{ getOverlayText(catalog) }}
                    </div>
                </div>
                <div class="itemText">
                    <div class="itemSubHeader">{{ catalog.name }}</div>
                    <div class="itemDesc">{{ catalog.description }}</div>    
                </div>
                <div class="itemPoint">{{ catalog.points }} <span>pts</span></div>
                <div class="item-favorite"
                    [class.red]="catalog.favorite">
                    {{ (catalog.favorite) ? '&#9733;' : '&#9734;' }}
                </div>
            </div>
            <!--
            <div class="itemDetailContainer">
                <div class="itemPic"></div>
                <div class="itemText">
                    <div class="itemSubHeader">Krispy Kreme P50 Treat</div>
                    <div class="itemDesc">Krispy Kreme P50 voucher, plus a double upsize on coffee</div>    
                </div>
                <div class="itemPoint">50 <span>pts</span></div>
            </div>
            <div class="itemDetailContainer">
                <div class="itemPic"></div>
                <div class="itemText">
                    <div class="itemSubHeader">Krispy Kreme P50 Treat</div>
                    <div class="itemDesc">Krispy Kreme P50 voucher, plus a double upsize on coffee</div>    
                </div>
                <div class="itemPoint">50 <span>pts</span></div>
            </div>
            <div class="itemDetailContainer">
                <div class="itemPic"></div>
                <div class="itemText">
                    <div class="itemSubHeader">Krispy Kreme P50 Treat</div>
                    <div class="itemDesc">Krispy Kreme P50 voucher, plus a double upsize on coffee</div>    
                </div>
                <div class="itemPoint">50 <span>pts</span></div>
            </div>
            <div class="itemDetailContainer">
                <div class="itemPic"></div>
                <div class="itemText">
                    <div class="itemSubHeader">Krispy Kreme P50 Treat</div>
                    <div class="itemDesc">Krispy Kreme P50 voucher, plus a double upsize on coffee</div>    
                </div>
                <div class="itemPoint">50 <span>pts</span></div>
            </div>
            <div class="itemDetailContainer">
                <div class="itemPic"></div>
                <div class="itemText">
                    <div class="itemSubHeader">Krispy Kreme P50 Treat</div>
                    <div class="itemDesc">Krispy Kreme P50 voucher, plus a double upsize on coffee</div>    
                </div>
                <div class="itemPoint">50 <span>pts</span></div>
            </div>
            <div class="itemDetailContainer">
                <div class="itemPic"></div>
                <div class="itemText">
                    <div class="itemSubHeader">Krispy Kreme P50 Treat</div>
                    <div class="itemDesc">Krispy Kreme P50 voucher, plus a double upsize on coffee</div>    
                </div>
                <div class="itemPoint">50 <span>pts</span></div>
            </div>
            -->
        </div>
    </div>
</div>

<!-- <div class="banner"></div> -->
