
<div class="catalogContainer">
    <div class="header">
        <div class="text">
            <div class="headerSubText">Let’s Start Shopping!</div>
        </div>
    </div>
    <div class="subHeader">
        <div class="leftHeader">Most Popular</div>
        <div class="subOption" (click)="goToCatalogList('Most Popular')">See All</div>
    </div>
    <most-popular-item-belt></most-popular-item-belt>
    <div class="subHeader">
        <div class="leftHeader">My Favorites</div>
        <div class="subOption" (click)="goToCatalogList('My Favorite')">See All</div>
    </div>
    <favorite-item-belt></favorite-item-belt>
    <div class="subHeader">
        <div class="leftHeader">All Categories</div>
        <div class="subOption" (click)="goToCatalogList('All Categories')">See All</div>
    </div>
    <all-category-item-belt></all-category-item-belt>
    <div class="subHeader">
        <div class="leftHeader">Lifestyle</div>
        <div class="subOption" (click)="goToCatalogList('Lifestyle')">See All</div>
    </div>
    <lifestyle-item-belt></lifestyle-item-belt>
    <div class="subHeader">
        <div class="leftHeader">Mobile</div>
        <div class="subOption" (click)="goToCatalogList('Mobile')">See All</div>
    </div>
    <mobile-item-belt></mobile-item-belt>
</div>


<!-- <div class="banner"></div> -->
