<div class="shoppingCartContainer" [ngClass]="{medium : getResize().mediumUp}" *ngIf="!getResize().largeUp">
    <div class="containerBody">
        <div class="header">
            <div class="headerText">Shopping Cart</div>
            <div class="steps">
                <div class="step">
                    <span class="circle number green">1</span>
                    Review your item(s)
                </div>
                <div class="step-separator green"></div>
                <div class="step">
                    <span class="circle number green">2</span>
                    Confirm Order
                </div>
            </div>
        </div>
        <div class="itemListContainer">
            <div *ngFor="#item of getItems()" class="itemDetailContainer">
                <div class="col-left">
                    <div class="itemPic"></div>
                    <div class="remove-container" (click)="removeItem(item)">
                        <span>Remove</span>
                    </div>
                </div>
                <div class="col-right">
                    <div class="row item-header">
                        <div class="itemText">
                            <div class="itemSubHeader">{{ item.catalog.name }}</div>
                        </div>
                        <div class="itemPoint">{{ item.catalog.points }} <span>pts</span></div>
                    </div>
                    <div class="row item-amount">
                        <span class="counter">
                            <span class="minus sign" (click)="minusItem(item)">-</span>
                            <span class="amount">{{ item.amount }}</span>
                            <span class="plus sign" (click)="plusItem(item)">+</span>
                        </span>
                        <span class="sub-total">Sub Total:</span>
                        <div class="itemPoint">{{ item.getTotalPoints() }} <span>pts</span></div>
                    </div>
                    <div class="row number-selection-container"
                        *ngIf="!getNumberSelection().oneNumber">
                        <ul>
                            <li (click)="toggleMyNumber(item)">
                                <input class="check" type="checkbox" 
                                    [(ngModel)]="item.numberSelection.myNumber.checked" />
                                <div>My Number</div>
                                <select class="my-number-select">
                                    <option>092898874081</option>
                                    <option>092898874082</option>
                                    <option>092898874083</option>
                                </select>
                            </li>
                            <li (click)="toggleGift(item)">
                                <input class="check" type="checkbox"
                                    [(ngModel)]="item.numberSelection.gift.checked" />
                                <span class="">Gift</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="summary">
            <div class="row">
                <div class="itemText">
                    <div class="itemSubHeader">Total Points Required:</div>
                </div>
                <div class="itemPoint">{{ getPointsRequired() }} <span>pts</span></div>
            </div>
            <div class="row">
                <div class="itemText">
                    <div class="itemSubHeader">Remaining points after redemption:</div>
                </div>
                <div class="itemPoint">{{ getPointsRemaining() }} <span>pts</span></div>
            </div>
            <div class="row button-container">
                <button class="button" (click)="goToNext()">Next</button>
            </div>
        </div>
    </div>
</div>
