
<div class="beltContainer">
    <div class="itemContainer">
        <div class="itemPic"></div>
        <div class="itemText">
            <div class="itemDesc">Krispy Kreme P50 Treat</div>
            <div class="itemPoint">50 <span>points</span></div>
        </div>
    </div>
    <div class="itemContainer">
        <div class="itemPic"></div>
        <div class="itemText">
            <div class="itemDesc">Krispy Kreme P50 Treat</div>
            <div class="itemPoint">50 <span>points</span></div>
        </div>
    </div>
    <div class="itemContainer">
        <div class="itemPic"></div>
        <div class="itemText">
            <div class="itemDesc">Krispy Kreme P50 Treat</div>
            <div class="itemPoint">50 <span>points</span></div>
        </div>
    </div>
    <div class="itemContainer">
        <div class="itemPic"></div>
        <div class="itemText">
            <div class="itemDesc">Krispy Kreme P50 Treat</div>
            <div class="itemPoint">50 <span>points</span></div>
        </div>
    </div>
    <div class="itemContainer">
        <div class="itemPic"></div>
        <div class="itemText">
            <div class="itemDesc">Krispy Kreme P50 Treat</div>
            <div class="itemPoint">50 <span>points</span></div>
        </div>
    </div>
    <div class="itemContainer">
        <div class="itemPic"></div>
        <div class="itemText">
            <div class="itemDesc">Krispy Kreme P50 Treat</div>
            <div class="itemPoint">50 <span>points</span></div>
        </div>
    </div>
    <div class="itemContainer">
        <div class="itemPic"></div>
        <div class="itemText">
            <div class="itemDesc">Krispy Kreme P50 Treat</div>
            <div class="itemPoint">50 <span>points</span></div>
        </div>
    </div>
</div>