<div id="homeBody" class="overviewContainer">
    <div class="header">
        <div class="text">
            <div class="headerSubText">Get deals from our shopping partners!</div>
        </div>
    </div>
    <div class="subHeader" (click)="gotoAccountOverview()">
        <div class="leftHeader">Account Overview</div>
        <div class="next"></div>
    </div>
    <div class="name">{{ getUserData().name }}</div>
    <div class="phoneDetail">
        <div class="phoneNo">{{ getUserData().phoneNo }}</div>
        <div class="phoneType">PRIMARY</div>
        <div class="numberType">Postpaid</div>
    </div>
    <div class="subInfoContainer">
        <div class="leftSide">
            <div class="balance">Point Balance</div>
            <div class="expire">First points expire on 31-12</div>
        </div>
        <div class="rightSide">
            <div class="text">{{ getUserData().rewards }} <span>pts</span></div>
        </div>    
    </div>
    <div class="subHeader belt">
        <div class="leftHeader">Most Popular</div>
        <div class="subOption" (click)="goToCatalogList('Most Popular')">>See all</div>
    </div>
    <div class="itemBelt">
        <all-category-item-belt></all-category-item-belt>
    </div>
    <div class="subHeader belt">
        <div class="leftHeader">You can almost get...</div>
        <div class="subOption" (click)="goToCatalogList('All Categories')">See all</div>
    </div>
    <div class="itemBelt">
        <almost-get-item-belt></almost-get-item-belt>
    </div>
</div>

<!-- <div class="banner"></div> -->
