<div id="homeBody" class="overviewContainer">
    <div class="header">
        <div class="text">
            <div class="headerSubText">Get deals from our shopping partners!</div>
        </div>
    </div>
    <div class="subHeader">
        <div class="leftHeader">Account Overview</div>
        
    </div>
    <div class="subInfoContainer">
        <div class="leftSide">
            <div class="balance">Point Balance</div>
            <div class="expire">First points expire on 31-12</div>
        </div>
        <div class="rightSide" (click)="gotoAccountOverview()">
            <div class="next"></div>
            <div class="text">1010 <span>pts</span></div>
        </div>    
    </div>
    <div class="subHeader">
        <div class="leftHeader">Most Popular</div>
        <div class="subOption" (click)="openDetailPage('Most Popular')">See all</div>
    </div>
    <div class="itemBelt">
        <item-belt></item-belt>
    </div>
    <div class="subHeader">
        <div class="leftHeader">You can almost get...</div>
        <div class="subOption" (click)="openDetailPage('Most Popular')">See all</div>
    </div>
    <div class="itemBelt">
        <item-belt></item-belt>
    </div>
</div>

<!-- <div class="banner"></div> -->