<div class="payBillContainer" [ngClass]="{medium : getResize().mediumUp}" *ngIf="!getResize().largeUp">
    <div class="containerBody">
        <div class="header">
            <div class="void"></div>
            <div class="text">
                <div class="headerText">Pay Bill</div>
                <div class="headerSubText">Use your reward points to pay bills</div>
            </div>
        </div>
        <div class="itemContainer">
            <div class="itemIdentifier card"></div>
            <select class="inputValue select">
                <option value="smart1">Smart</option>
                <option value="smart2">Smart 2</option>
            </select>
        </div>
        <div class="itemContainer">
            <div class="itemIdentifier phone"></div>
            <input class="inputValue" placeholder="Smart Number"/>
        </div>
        <div class="itemContainer">
            <div class="itemIdentifier invoice"></div>
            <input class="inputValue" placeholder="Peso amount"/>
        </div>
        <div class="itemContainer">
            <div class="itemIdentifier lock"></div>
            <input class="inputValue" type="password" placeholder="Payment PIN"/>
        </div>
        <div class="itemFooterContainer">
            <div class="point">
                <div class="pointPic"></div>
                <div class="pointText">Points Needed</div>
                <div class="pointValue">990 <span>pts</span></div>
            </div>
            <div class="button red">Add to Cart</div>
        </div>
    </div>
</div>