<div class="perksContainer" [ngClass]="{medium : getResize().mediumUp}" *ngIf="!getResize().largeUp">
    <div class="header">
        <div class="text">
            <div class="headerSubText">Instant Deals, no need for points!</div>
        </div>
    </div>
    <div class="containerBody">
        <div class="itemListContainer">
            <div *ngFor="#catalog of getCatalogs()"
                (click)="openCatalogDisplay(catalog)"
                class="itemDetailContainer">
                <div class="itemPic">
                    <img [src]="catalog.imageUrl" />
                    <!--<div class="overlay"
                        [class.postpaid]="catalog.isOnlyPostpaid()"
                        [class.prepaid]="catalog.isOnlyPrepaid()"
                        [class.bro]="catalog.isOnlyBroPrepaid() || catalog.isOnlyBroPostpaid()">
                        {{ getOverlayText(catalog) }}
                    </div>-->
                </div>
                <div class="itemText">
                    <div class="itemSubHeader">{{ catalog.name }}</div> 
                    <div class="itemDesc">{{ catalog.description }}</div>    
                </div>
                <div class="itemPoint">{{ catalog.points }} <span>pts</span></div>
                <div class="item-favorite"
                    [class.red]="catalog.favorite"
                    (click)="toggleFavorite(catalog, $event)">
                </div>
                <!--<div class="valid-until">
                    <span class="label">Valid until: </span> {{ catalog.getExpiryString() }}
                </div>-->
            </div>
        </div>
        <!--<div class="itemListContainer">
            <div class="itemDetailContainer">
                <div class="itemPic"></div>
                <div class="itemText">
                    <div class="itemSubHeader">BonChon Deal</div>
                    <div class="itemDesc">Free Seoul Rice Upgrade & Mini Koyo on every 4-pc. Chicken Wings Rice box purchase</div>    
                </div>
                <div class="itemPoint">0 <span>pts</span></div>
                <div class="valid-until">
                    <span class="label">Valid until: </span> 25-12
                </div>
            </div>
            <div class="itemDetailContainer">
                <div class="itemPic"></div>
                <div class="itemText">
                    <div class="itemSubHeader">GetGo Deal</div>
                    <div class="itemDesc">FREE GetGo Membership</div>    
                </div>
                <div class="itemPoint">0 <span>pts</span></div>
                <div class="valid-until">
                    <span class="label">Valid until: </span> 25-12
                </div>
            </div>
            <div class="itemDetailContainer">
                <div class="itemPic"></div>
                <div class="itemText">
                    <div class="itemSubHeader">Enchanted Kingdom Deal</div>
                    <div class="itemDesc">15% Off on Regular Day Pass, 10% OFF on EK-owned merchandise</div>    
                </div>
                <div class="itemPoint">0 <span>pts</span></div>
                <div class="valid-until">
                    <span class="label">Valid until: </span> 25-12
                </div>
            </div>
            <div class="itemDetailContainer">
                <div class="itemPic"></div>
                <div class="itemText">
                    <div class="itemSubHeader">Fish & Co. Deal</div>
                    <div class="itemDesc">P250 Off at Fish & Co. with a minimum purchase of P750</div>    
                </div>
                <div class="itemPoint">0 <span>pts</span></div>
                <div class="valid-until">
                    <span class="label">Valid until: </span> 25-12
                </div>
            </div>
            <div class="itemDetailContainer">
                <div class="itemPic"></div>
                <div class="itemText">
                    <div class="itemSubHeader">Watami Deal</div>
                    <div class="itemDesc">Free Watami Salad (half) with a minimum purchase of P750</div>    
                </div>
                <div class="itemPoint">0 <span>pts</span></div>
                <div class="valid-until">
                    <span class="label">Valid until: </span> 25-12
                </div>
            </div>
        </div>-->
    </div>
</div>

<!-- <div class="banner"></div> -->
