<div class="shoppingCartContainer" [ngClass]="{medium : getResize().mediumUp}" *ngIf="!getResize().largeUp">
    <div class="containerBody">
        <div class="header">
            <div class="headerText">Shopping Cart</div>
            <div class="steps">
                <div class="step">
                    <span class="number active">1</span>
                    Review your item(s)
                </div>
                <div class="step-separator"></div>
                <div class="step">
                    <span class="number">2</span>
                    Confirm Order
                </div>
            </div>
        </div>
        <div class="number-selection-container">
            <ul>
                <li>
                    <span>Send all to one number</span>
                </li>
                <ul>
                    <li>
                        <span>My Number</span>
                    </li>
                    <li>
                        <span>Gift</span>
                    </li>
                </ul>
            </ul>
        </div>
        <div class="itemListContainer">
            <div class="itemDetailContainer">
                <div class="col-left">
                    <div class="itemPic"></div>
                    <div class="remove-container">
                        <span>Remove</span>
                    </div>
                </div>
                <div class="col-right">
                    <div class="row item-header">
                        <div class="itemText">
                            <div class="itemSubHeader">Krispy Kreme P50 Treat</div>
                        </div>
                        <div class="itemPoint">50 <span>pts</span></div>
                    </div>
                    <div class="row item-amount">
                        <span class="counter">
                            <span class="minus sign">-</span>
                            <span class="amount">1</span>
                            <span class="plus sign">+</span>
                        </span>
                        <span class="sub-total">Sub Total:</span>
                        <div class="itemPoint">50 <span>pts</span></div>
                    </div>
                </div>
            </div>
            <div class="itemDetailContainer">
                <div class="col-left">
                    <div class="itemPic"></div>
                    <div class="remove-container">
                        <span>Remove</span>
                    </div>
                </div>
                <div class="col-right">
                    <div class="row item-header">
                        <div class="itemText">
                            <div class="itemSubHeader">Krispy Kreme P50 Treat</div>
                        </div>
                        <div class="itemPoint">50 <span>pts</span></div>
                    </div>
                    <div class="row item-amount">
                        <span class="counter">
                            <span class="minus sign">-</span>
                            <span class="amount">1</span>
                            <span class="plus sign">+</span>
                        </span>
                        <span class="sub-total">Sub Total:</span>
                        <div class="itemPoint">50 <span>pts</span></div>
                    </div>
                </div>
            </div>
            <!--
            <div class="itemDetailContainer">
                <div class="itemPic"></div>
                <div class="itemText">
                    <div class="itemSubHeader">Krispy Kreme P50 Treat</div>
                    <div class="itemDesc">Krispy Kreme P50 voucher, plus a double upsize on coffee</div>    
                </div>
                <div class="itemPoint">50 <span>pts</span></div>
            </div>
            <div class="itemDetailContainer">
                <div class="itemPic"></div>
                <div class="itemText">
                    <div class="itemSubHeader">Krispy Kreme P50 Treat</div>
                    <div class="itemDesc">Krispy Kreme P50 voucher, plus a double upsize on coffee</div>    
                </div>
                <div class="itemPoint">50 <span>pts</span></div>
            </div>
            <div class="itemDetailContainer">
                <div class="itemPic"></div>
                <div class="itemText">
                    <div class="itemSubHeader">Krispy Kreme P50 Treat</div>
                    <div class="itemDesc">Krispy Kreme P50 voucher, plus a double upsize on coffee</div>    
                </div>
                <div class="itemPoint">50 <span>pts</span></div>
            </div>
            <div class="itemDetailContainer">
                <div class="itemPic"></div>
                <div class="itemText">
                    <div class="itemSubHeader">Krispy Kreme P50 Treat</div>
                    <div class="itemDesc">Krispy Kreme P50 voucher, plus a double upsize on coffee</div>    
                </div>
                <div class="itemPoint">50 <span>pts</span></div>
            </div>
            <div class="itemDetailContainer">
                <div class="itemPic"></div>
                <div class="itemText">
                    <div class="itemSubHeader">Krispy Kreme P50 Treat</div>
                    <div class="itemDesc">Krispy Kreme P50 voucher, plus a double upsize on coffee</div>    
                </div>
                <div class="itemPoint">50 <span>pts</span></div>
            </div>
            <div class="itemDetailContainer">
                <div class="itemPic"></div>
                <div class="itemText">
                    <div class="itemSubHeader">Krispy Kreme P50 Treat</div>
                    <div class="itemDesc">Krispy Kreme P50 voucher, plus a double upsize on coffee</div>    
                </div>
                <div class="itemPoint">50 <span>pts</span></div>
            </div>
            -->
        </div>
    </div>
</div>

<!-- <div class="banner"></div> -->
