<div class="shoppingCartContainer" [ngClass]="{medium : getResize().mediumUp}" *ngIf="!getResize().largeUp">
    <div class="containerBody">
        <div class="header">
            <div class="headerText">Shopping Cart</div>
            <div class="steps">
                <div class="step">
                    <span class="circle number green">1</span>
                    Review your item(s)
                </div>
                <div class="step-separator"></div>
                <div class="step">
                    <span class="circle number">2</span>
                    Confirm Order
                </div>
            </div>
        </div>
        <div class="number-selection-container">
            <ul>
                <li (click)="toggleParentOneNumber()">
                    <input class="check" type="checkbox" [(ngModel)]="getNumberSelection().oneNumber" />
                    <span class="">Send all to one number</span>
                </li>
                <ul *ngIf="getNumberSelection().oneNumber">
                    <li (click)="toggleParentMyNumber()">
                        <input class="check" type="checkbox" 
                            [(ngModel)]="getNumberSelection().myNumber.checked" />
                        <div>My Number</div>
                        <select class="my-number-select" [(ngModel)]="getNumberSelection().myNumber.number">
                            <option 
                                *ngFor="#mobile of getMobileNumbers(); #i = index"
                                [selected]="i == 0">
                                {{ mobile }}
                            </option>
                        </select>
                    </li>
                    <li (click)="toggleParentGift()">
                        <input class="check" type="checkbox" 
                            [(ngModel)]="getNumberSelection().gift.checked" />
                        <span class="">Gift</span>
                        <div class="input-gift-container">
                            <span>+63</span>
                            <input type="text" placeholder="Enter phone number" [(ngModel)]="getNumberSelection().gift.number" />
                        </div>
                    </li>
                </ul>
            </ul>
        </div>
        <div class="itemListContainer">
            <div *ngFor="#item of getItems()" class="itemDetailContainer">
                <div class="col-left">
                    <div class="itemPic">
                        <img [src]="item.catalog.imageUrl" />
                        <div class="overlay"
                            [class.postpaid]="item.catalog.isOnlyPostpaid()"
                            [class.prepaid]="item.catalog.isOnlyPrepaid()"
                            [class.bro]="item.catalog.isOnlyBroPrepaid() || item.catalog.isOnlyBroPostpaid()">
                            {{ getOverlayText(item.catalog) }}
                        </div>
                    </div>
                    <div class="remove-container" (click)="removeItem(item)">
                        <span>Remove</span>
                    </div>
                </div>
                <div class="col-right">
                    <div class="row item-header">
                        <div class="itemText">
                            <div class="itemSubHeader">{{ item.catalog.name }}</div>
                        </div>
                        <div class="itemPoint">{{ item.catalog.points }} <span>pts</span></div>
                    </div>
                    <div class="row item-amount">
                        <span class="counter">
                            <span class="minus sign" (click)="minusItem(item)">-</span>
                            <span class="amount">{{ item.amount }}</span>
                            <span class="plus sign" (click)="plusItem(item)">+</span>
                        </span>
                        <span class="sub-total">Sub Total:</span>
                        <div class="itemPoint">{{ item.getTotalPoints() }} <span>pts</span></div>
                    </div>
                    <div class="row number-selection-container"
                        *ngIf="!getNumberSelection().oneNumber">
                        <ul>
                            <li (click)="toggleMyNumber(item)">
                                <input class="check" type="checkbox" 
                                    [(ngModel)]="item.numberSelection.myNumber.checked" />
                                <div>My Number</div>
                                <select class="my-number-select" [(ngModel)]="item.numberSelection.myNumber.number">
                                    <option 
                                        *ngFor="#mobile of getMobileNumbers(); #i = index"
                                        [selected]="i == 0">
                                        {{ mobile }}
                                    </option>
                                </select>
                            </li>
                            <li (click)="toggleGift(item)">
                                <input class="check" type="checkbox"
                                    [(ngModel)]="item.numberSelection.gift.checked" />
                                <span class="">Gift</span>
                                <div class="input-gift-container">
                                    <span>+63</span>
                                    <input type="text" placeholder="Enter phone number" [(ngModel)]="item.numberSelection.gift.number" />
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="summary">
            <div class="row">
                <div class="itemText">
                    <div class="itemSubHeader">Total Points Required:</div>
                </div>
                <div class="itemPoint">{{ getPointsRequired() }} <span>pts</span></div>
            </div>
            <div class="row">
                <div class="itemText">
                    <div class="itemSubHeader">Remaining points after redemption:</div>
                </div>
                <div class="itemPoint">{{ getPointsRemaining() }} <span>pts</span></div>
            </div>
            <div class="row button-container">
                <button class="button" (click)="goToNext()">Next</button>
            </div>
        </div>
    </div>
</div>
