<div class="transferContainer" [ngClass]="{medium : getResize().mediumUp}" *ngIf="!getResize().largeUp">
    <div class="containerBody">
        <div class="header">
            <div class="void"></div>
            <div class="text">
                <div class="headerText">Transfer Point</div>
                <div class="headerSubText">Send reward points to your friend</div>
            </div>
        </div>
        <div class="itemContainer">
            <div class="itemIdentifier mobile"></div>
            <div class="phoneCountryValue">+63</div>
            <input class="inputValue phone" [(ngModel)]="phone" placeholder="Your friends phone number"/>
        </div>
        <div class="itemContainer">
            <div class="itemIdentifier point"></div>
            <input class="inputValue" [(ngModel)]="transferred" placeholder="Number of points"/>
        </div>
        <div class="itemFooterContainer">
            <div class="point">
                <div class="pointPic"></div>
                <div class="pointText">Remaining points after transferred</div>
                <div class="pointValue">{{(getRemainingPoints())}} <span>pts</span></div>
            </div>
            <div class="button red" (click)="doTransfer()">Proceed</div>
        </div>
    </div>
</div>