<div class="circular-spinner sk-circle">
    <div *ngFor="#item of getItems()" class="sk-circle{{item}} sk-child {{getItemColor()}}"></div>
<!--
	<div class="spinnerItem sk-circle1 sk-child green"></div>
    <div class="sk-circle2 sk-child green"></div>
    <div class="sk-circle3 sk-child green"></div>
    <div class="sk-circle4 sk-child green"></div>
    <div class="sk-circle5 sk-child green"></div>
    <div class="sk-circle6 sk-child green"></div>
    <div class="sk-circle7 sk-child green"></div>
    <div class="sk-circle8 sk-child green"></div>
    <div class="sk-circle9 sk-child green"></div>
    <div class="sk-circle10 sk-child green"></div>
    <div class="sk-circle11 sk-child green"></div>
    <div class="sk-circle12 sk-child green"></div>
    -->
</div>