<div class="basicPhoneContainer">
    <div class="bodyHeader">
        <div class="menuItem selected">Basic Phone</div>
        <div class="menuItem">Wireless Home Phone</div>
        <!--<div class="menuItem">Extra Options</div>-->
    </div> 
    <div class="basicPhoneBodyContainer">
        <div class="upperContainer">
            <div class="planBox">
                <div class="planHeader">Wired Home Phone</div>
                <div class="planBody">
                    <div class="text">FREE <span>local calls</span></div>
                </div>
                <div class="buttonContainer">
                    <div class="button">Buy Now</div>
                </div>
            </div>
            <div class="planDetail">
                <div class="planHeader">Fees & Charges</div>
                <div class="planItem">
                    <div class="identifier">Monthly Service Fee</div>
                    <div class="value">P700.00/month</div>
                </div>
                <div class="planItem">
                    <div class="identifier">NDD</div>
                    <div class="value">P5.00/minute</div>
                </div>
                <div class="planItem">
                    <div class="identifier">IDD</div>
                    <div class="value">$0.40/minute</div>
                </div>
                <div class="planItem">
                    <div class="identifier">Calls to Mobile</div>
                    <div class="value">P14.00/minute</div>
                </div>
            </div>
        </div>
        <div class="lowerContainer"></div>
    </div>
</div>
