<div class="bundleIvtContainer">
    <div class="bodyHeader">
        <div class="menuItem selected">Internet, Voice & TV</div>
        <div class="menuItem">Internet, Voice, TV & Mobile</div>
        <!--<div class="menuItem">Extra Options</div>-->
    </div> 
    <div class="bundleIvtBodyContainer">
        <div class="subHeader">
            Tell us your address, and we'll advice the best available service for you
        </div>
        <div class="addressContainer">
            <div class="addressInnerContainer">
                <div class="addressItem">
                    <div class="identifier">Postcode </div><input class="postal"/>
                </div>
                <div class="addressItem">
                    <div class="identifier">Province </div><input />
                </div>
                <div class="addressItem">
                    <div class="identifier">City </div><input />
                </div>
                <div class="addressItem">
                    <div class="identifier">Barangay </div><input />
                </div>
                <div class="buttonContainer">
                    <div class="button" (click)="openItem()">Check Coverage</div>
                </div>
            </div>
        </div>
        <!--<div id="googleMap" class="map" (click)="openItem()"></div>-->
        <div class="subHeader" *ngIf="itemShow">
            Help us find the best plan for you
        </div>
        <bundle-plan *ngIf="itemShow"></bundle-plan>
    </div>
</div>
