<div class="homePageContainer">
    <div class="carrousel">
        <div class="carrouselImg"></div>
        <div class="carrouselDetails">
            <div class="carrouselTitle">Your Video On-Demand Overload</div>
            <div class="carrouselText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pulvinar, magna viverra aliquet pellentesque, neque turpis bibendum ligula, quis porta lacus urna in magna.</div>
            <div class="button black">START YOUR 30-DAY TRIAL TODAY</div>
        </div>
    </div>
    <div class="itemContainer left percent60">
        <div class="headlineContainer" *ngFor="#item of items;">
            <div class="itemImg news"></div>
            <div class="itemText">
                <div class="title">Headline goes here.</div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pulvinar, magna viverra aliquet pellentesque, neque turpis bibendum ligula, quis porta lacus urna in magna.</div>
                <small>Learn more</small>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="tabContainer">
            <div class="tabItem percent30 active">NEWS</div>
            <div class="tabItem percent30">EVENT</div>
            <div class="tabItem percent30">FEATURES</div>
            <div class="clearfix"></div>
        </div>
        <div class="headlineContainer" *ngFor="#item of items;">
            <div class="itemImg news"></div>
            <div class="itemText">
                <div class="title">Headline goes here.</div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pulvinar, magna viverra aliquet pellentesque, neque turpis bibendum ligula, quis porta lacus urna in magna.</div>
                <small>Learn more</small>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="itemContainer right percent40">
        <div class="titleRed">PLDT HOME PRODUCTS</div>
        <div class="productContainer">
            <div class="headlineContainer withLine" *ngFor="#item of items;">
                <div class="itemImg news small"></div>
                <div class="itemText">
                    <div class="title">Product Name.</div>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <small>Learn more</small>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="quote">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
    </div>
    <div class="button black x-large">
        GET PLDT HOME TODAY
    </div>
    <div class="button white large">
        GIVE US A CALL
    </div>
</div>
