<div class="homeContainer">
    <!--<div class="bodyHeader">Internet, TV and home phone</div>-->
    <div class="homeActionsLayout">
        <div class="box">
            <div class="col3">
                <div class="actionsBox">
                    <ul>
                        <li class="heading">Explore</li>
                        <li (click)="goToCompare()"><span>Compare internet plans</span></li>
                        <li><span>See home phone plans</span></li>
                        <li><span>Extra options</span></li>
                        <div *ngIf="option.explore">
                            <li><span>Coverage Check</span></li>
                            <li><span>Top-Ups</span></li>
                            <li><span>Special Promotions</span></li>
                        </div>
                        <li  [ngClass]="{seeLess : option.explore}" (click)="toggleExplore()"><span class="moreOption smaller">{{exploreText()}}</span></li>
                    </ul>
                </div>
            </div>
            <div class="col3">
                <div class="actionsBox">
                    <ul>
                        <li class="heading">Quick Links</li>
                        <li><span>Invoice and  payments</span></li>
                        <li><span>Compare internet plans</span></li>
                        <li><span>Store locator</span></li>
                        <div *ngIf="option.link">
                            <li><span>View & Pay Bill</span></li>
                            <li><span>Account Management</span></li>
                            <li><span>Rewards</span></li>
                        </div>
                        <li [ngClass]="{seeLess : option.link}" (click)="toggleLink()"><span class="moreOption smaller">{{linkText()}}</span></li>
                    </ul>
                </div>
            </div>
            <div class="col3">
                <div class="actionsBox">
                    <ul>
                        <li class="heading">Help &#38; Support</li>
                        <li><span>Instalation &#38; Usage</span></li>
                        <li><span>Wi-Fi Router Set Up</span></li>
                        <li><span>Problem &#38; Support</span></li>
                        <div *ngIf="option.help">
                            <li><span>Track My Order</span></li>
                            <li><span>Troubleshoot a Problem</span></li>
                            <li><span>Contact Us</span></li>
                        </div>
                        <li  [ngClass]="{seeLess : option.help}" (click)="toggleHelp()"><span class="moreOption smaller">{{helpText()}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="productContainer">
        <div class="product left">
            <div class="productName">Are you new at PLDT?</div>
            <div class="productBody">
                <div class="productImage allin"></div>
                <div class="productDesc">All-in-1 package with best price</div>
            </div>
            <div class="button">learn more</div>
        </div>
        <div class="product right">
            <div class="productName">Can we help you?</div>
            <div class="productBody">
                <div class="productImage help"></div>
                <div class="productDesc">Track you order and knows when the installment scheduled</div>
            </div>
            <div class="button">learn more</div>   
        </div>
    </div>
    <div class="divider"></div>
    <div class="productContainer">
        <div class="product left">
            <div class="productName">Explore add-ons</div>
            <div class="productBody">
                <div class="productImage watch leftImage"></div>
                <div class="productDesc rightText">
                    <div class="itemTitle bold">Don’t Miss the Deal!</div>
                    Get a Smartwatch on top of your Internet package only with P199/mo</div>
            </div>
            <div class="button">learn more</div>
        </div>
        <div class="product right">
            <div class="productName">Interested in Fiber?</div>
            <div class="productBody">
                <div class="productImage idina leftImage"></div>
                <div class="productDesc rightText">
                    Subscribe Fibr Plan and win
                    <div class="itemTitle bold">FREE TICKET</div>
                    <div class="itemTitle">For Idina Menzel concert in Manila</div>
                </div>
            </div>
            <div class="button">learn more</div>   
        </div>
    </div>
</div>
