<div>
    <div class="homeBanner">
        <div class="large" ng-if="vmHome.mm.largeUp">
            <div class="banner"></div>
        </div>
    </div>
    <div class="homeActionsLayout">
        <div class="box">
            <div class="col3">
                <div class="actionsBox">
                    <ul>
                        <li class="heading">Shop</li>
                        <li><a href="#">Phones</a></li>
                        <li><a href="#">Postpaid</a></li>
                        <li><a href="#">Mobile broadband</a></li>
                    </ul>
                </div>
            </div>
            <div class="col3">
                <div class="actionsBox">
                    <ul>
                        <li class="heading">Explore</li>
                        <li><a href="#">Postpaid plans</a></li>
                        <li><a href="#">Broadband plans</a></li>
                        <li><a href="#">Prepaid plans</a></li>
                    </ul>
                </div>
            </div>
            <div class="col3">
                <div class="actionsBox">
                    <ul>
                        <li class="heading">Top 3 Support</li>
                        <li><a href="#">Invoice and payment</a></li>
                        <li><a href="#">Order Status</a></li>
                        <li><a href="#">Device Support</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="homeProductsLayout">
        <div class="box" ng-if="vmHome.mm.mediumUp">
            <div class="col2">
                <div class="productBox">
                    <h2>Postpaid</h2>
                    <div class="outer-box">
                        <div class="inner-box">
                            <img src="../img/home-postpaid.png" />
                            <h3>The perfect plan for you</h3>
                            <p>
                                Smart Postpaid lets you choose the plan that best suits your lifestyle. Experience it with the latest smartphones powered by the biggest and most advanced network.
                            </p>
                            <div class="button"><a href="#">See our plans</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col2">
                <div class="productBox">
                    <h2>Prepaid</h2>
                    <div class="outer-box">
                        <div class="inner-box">
                            <img src="../img/home-postpaid.png" />
                            <h3>Jump in with the best offers in Prepaid.</h3>
                            <p>
                                Enjoy every moment to the fullest with free calls, text, and data when you subscribe to Smart's amazing and exciting offers - perfect for the whole barkada.
                            </p>
                            <div class="button"><a href="#">Learn more</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col2">
                <div class="productBox">
                    <h2>Broadband</h2>
                    <div class="outer-box">
                        <div class="inner-box">
                            <img src="../img/home-postpaid.png" />
                            <h3>Take your online experience mobile</h3>
                            <p>
                                and get your favorite gadgets with your choice of Bro device. Surf at blazing speeds with the country's first and extensive LTE network!
                            </p>
                            <div class="button"><a href="#">See our plans</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col2">
                <div class="productBox">
                    <h2>Phones</h2>
                    <div class="outer-box">
                        <div class="inner-box">
                            <img src="../img/home-postpaid.png" />
                            <h3>Get the latest phone with our plans</h3>
                            <p>
                                Own the latest phone in the market and save at the same time when you sign up with our plans
                            </p>
                            <div class="button"><a href="#">View phones</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
