<div class="filterContainer">
    <div class="filterSlider">
        <div class="sliderBox">
            <div class="description">Price</div>
            <multi-slider
                [type]="'price'"
                [start]="getFilter().price"
                [range]="{min:999, max:5000}"
                (slide)="getFilter().price = $event"
                ></multi-slider>
        </div>
        <div class="sliderBox">
            <div class="description">Speed</div>
            <multi-slider
                [type]="'speed'"
                [start]="getFilter().speed"
                [range]="{min:1, max:1000}"
                (slide)="getFilter().speed = $event"
                ></multi-slider>
            <div class="description left">email user</div>
            <div class="description right">HDTV movies addict</div>
        </div>
        <div class="sliderBox">
            <div class="description">Quota</div>
            <multi-slider
                [type]="'quota'"
                [start]="getFilter().quota"
                [range]="{min:80, max:1000}"
                (slide)="getFilter().quota = $event"
                ></multi-slider>
            <div class="description left">casual browser</div>
            <div class="description right">video streaming addict</div>
        </div>
    </div>
    <div class="categoryFilter">
        <div class="categoryBox">
            <div class="title">Categories</div>
            <div class="options">
                <ul>
                    <li>
                        <input class="check" type="checkbox"/>
                        <span class="">All</span>
                    </li>
                    <li>
                        <input class="check" type="checkbox"/>
                        <span class="">Internet Only</span>
                    </li>
                    <li>
                        <div>
                            <input class="check" type="checkbox"/>
                            <span class="">Internet + Home Phone</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <input class="check" type="checkbox"/>
                            <span class="">Internet + TV Channel</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <input class="check" type="checkbox"/>
                            <span class="">All-in-1</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="planBodyContainer">
    <div class="backButton"></div>
    <div class="nextButton"></div>
    <div class="planContainer">
        <div class="planItem">
            <input class="check" name="plan" type="radio" />
            <div class="planName">Lite Plan 1899</div>
            <div class="planBody">
                <div class="planText">Speed up to</div>
                <div class="planIcon">
                    <div class="text">50 Mbps</div>
                </div>
                <div class="planTerm"></div>
            </div>
            <div class="planDesc">
                <ul>
                    <li>80 GB/mo volume allowance</li>
                    <li>FREE Wi-Fi modem</li>
                    <li>FREE Installation</li>
                </ul>
            </div>
        </div>
        <div class="planItem">
            <input class="check" name="plan" type="radio" />
            <div class="planName">Power Plus Plan 2899</div>
            <div class="planBody">
                <div class="planText">Speed up to</div>
                <div class="planIcon">
                    <div class="text">50 Mbps</div>
                </div>
                <div class="planTerm">Apply now and get 2X speed*</div>
            </div>
            <div class="planDesc">
                <ul>
                    <li>Unlimited</li>
                    <li>FREE Wi-Fi modem</li>
                    <li>FREE Installation</li>
                </ul>
            </div>
        </div>
        <div class="planItem">
            <input class="check" name="plan" type="radio" />
            <div class="planName">Power Plus Plan 2500</div>
            <div class="planBody">
                <div class="planText">Speed up to</div>
                <div class="planIcon">
                    <div class="text">50 Mbps</div>
                </div>
                <div class="planTerm">Apply now and get 2X speed*</div>
            </div>
            <div class="planDesc">
                <ul>
                    <li>Unlimited</li>
                    <li>FREE Wi-Fi modem</li>
                    <li>FREE Installation</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="planBonusContainer">
        <div class="planBonus">
            <div class="bonusBody">
                <div class="bonusHeader">Comes With</div>
                <div class="bonusPicture"></div>
                <div class="bonusDesc">Free movies & TV channels</div>
                <div class="phonePicture"></div>
                <div class="bonusDesc">Free Basic Phone</div>
            </div>
        </div>
        <div class="planBonus">
            <div class="bonusBody">
                <div class="bonusHeader">Comes With</div>
                <div class="bonusPicture"></div>
                <div class="bonusDesc">Free movies & TV channels</div>
                <div class="phonePicture"></div>
                <div class="bonusDesc">Free Basic Phone</div>
            </div>
        </div>
        <div class="planBonus">
            <div class="bonusBody">
                <div class="bonusHeader">Comes With</div>
                <div class="bonusPicture other"></div>
                <div class="bonusDesc">Free movies & TV channels</div>
                <div class="phonePicture"></div>
                <div class="bonusDesc">Free Basic Phone</div>
            </div>
        </div>
    </div>
    <div class="addOnsContainer">
        <div class="addOnsHeader">CHOOSE ADD-ON(S)</div>
        <div class="addOnsSubHeader">Pick from our best plans, best value for you!</div>
        <div class="category">
            <div class="left">Devices</div>
            <div class="right">Call-All Bundles</div>
        </div>
        <div class="addOnsItemContainer">
            <div class="addOnsItem">
                <input class="check" type="checkbox" />
                <div class="addOnsName">TVOLUTION BOX</div>
                <!--<div class="addOnsPicture tv"></div>-->
                <div class="addOnsDesc">Watch videos on demand on your TV</div>
                <div class="addOnsCost">Only P199/mo</div>
                <div class="addOnsLearn">LEARN MORE</div>
            </div>
            <div class="addOnsItem">
                <input class="check" type="checkbox" />
                <div class="addOnsName">BASIC FAM CAM</div>
                <!--<div class="addOnsPicture tv"></div>-->
                <div class="addOnsDesc">Monitor your family even when you're away</div>
                <div class="addOnsCost">Only P99/mo</div>
                <div class="addOnsLearn">LEARN MORE</div>
            </div>
            <div class="addOnsItem">
                <input class="check" type="checkbox" />
                <div class="addOnsName">ADVANCED FAM CAM</div>
                <!--<div class="addOnsPicture tv"></div>-->
                <div class="addOnsDesc">Unites family even when away from home with 2-way audio feature</div>
                <div class="addOnsCost">Only P499/mo</div>
                <div class="addOnsLearn">LEARN MORE</div>
            </div>
            <div class="addOnsItem">
                <input class="check" type="checkbox" />
                <div class="addOnsName">WIFI REPEATER</div>
                <!--<div class="addOnsPicture tv"></div>-->
                <div class="addOnsDesc">Extend WiFi signal at home with WiFi repeater</div>
                <div class="addOnsCost">Only P99/mo</div>
                <div class="addOnsLearn">LEARN MORE</div>
            </div>
        </div>
    </div>
    <div class="valueContainer">
        <div class="valueHeader">WANT EVEN BETTER VALUE?</div>
        <div class="valueSubHeader">Pick from our best plans, best value for you!</div>
        <div class="valuePlan">
            <input class="check" type="checkbox" />
            <div class="valueBody">
                <div class="valuePicture"></div>
                <div class="valueText">iPhone 6S</div>
                <div class="valueText2">with Smart Mobile Plan</div>
            </div>
            <div class="valueDesc">
                <ul>
                    <li>500 call minutes to Smart, Sun, TNT, and PLDT</li>
                    <li>2,000 All-Net SMS</li>
                    <li>250 MB Mobile Internet</li>
                    <li>300 MB Internet Usage for FB/IG/ and Viber</li>
                    <li>Unlimited Music Spinnr Streaming</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="buttonContainer">
        <div class="button" (click)="openItem()">Buy Now</div>
    </div>
</div>